<extend name="Public/base"/>
<block name="body">
    <div class="right_col" role="main">
        <!--title-->

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="page-title">
                <div class="title_left">
                    <h3 style="">新增用户</h3>
                </div>
            </div>
            <div class="x_panel">
                <div class="x_title">
                    <h2>新增用户趋势</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <select id="sel_status" class="form-control" src="{:U('Statistics/add')}">
                            <option <?php if(I('get.status')==0 && is_numeric(I('get.status'))  )echo 'selected';?> value="0">查看7天数据</option>
                            <option <?php if(I('get.status')==1)echo 'selected';?> value="1">查看30天数据</option>
                        </select>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="bd-list" style="">
                    <div class="text-center pull-left bd-box bd_r_left" style="border-right: none;">沉默用户</div>
                    <div class="text-center pull-left bd-box bd_r_right bd_active" style="">新增用户</div>
                </div>
                <div class="x_content">
                    <div id="trend" style="width:100%; height:300px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>新增用户明细</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped text-center  bulk_action">
                            <thead class="bg-info">
                            <tr class="">
                                <th class="column-title text-center">日期</th>
                                <th class="column-title text-center">代理公司/机构名称</th>
                                <th class="column-title text-center">归属上级代理名称 </th>
                                <th class="column-title text-center">所在区域</th>
                                <th class="column-title text-center">新增设备(占比)</th>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="dayDetailList" id="vo">
                                <tr class="pointer">
                                    <td class=" ">{$vo.statsDate}</td>
                                    <td class=" ">{$vo.orgName}</td>
                                    <td class=" ">{$vo.parentAgentName}</td>
                                    <td class=" ">
                                        <if condition="$vo['orgType'] eq 1">
                                            {$vo.district}
                                            <else/>{$vo.area}
                                        </if>
                                    </td>
                                    <td class=" "><?php echo $vo['percent']*100; ?>%</td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</block>
<block name="script">
    <script src="__VENDOR__/echarts/dist/echarts.min.js"></script>
    <script>
        $('#sel_status').change(function(){
            var status = $(this).val();
            var url = $(this).attr('src');
            location.href = url + "?status=" + status;
        });
        var myChart = echarts.init(document.getElementById('trend'));
        var start_date=[],old=[],relation=[];
        function arrTest(){
            $.ajax({
                type:"post",
                async:false,
                url:"{:U('Statistics/getData')}",
                data:{status:$('#sel_status').val()},
                dataType:"json",
                success:function(result){
                    if (result) {
                        for (var i = 0; i < result.length; i++) {
                            start_date.push(result[i].statsDate);
                            old.push(result[i].familyQuantity);
                            relation.push(result[i].relationQuantity);
                        }
                    }
                }
            })
            return start_date,old,relation;
        }
        arrTest();
        option = {
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['老人终端','亲属端']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: start_date
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:'老人终端',
                    type:'line',
                    data:old,
                },
                {
                    name:'亲属端',
                    type:'line',
                    data:relation
                },
            ]
        };
        myChart.setOption(option);
    </script>
</block>