<extend name="Public/base"/>

<block name="body">
    <div class="right_col" role="main">
        <!--title-->

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="page-title">
                <div class="title_left">
                    <h3 style="">沉默用户</h3>
                </div>
            </div>
            <div class="x_panel">

                <div class="x_title">
                    <h2>沉默用户趋势</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="bd-list" style="">
                    <div class="text-center pull-left bd-box bd_r_left bd_active" style="border-right: none;">沉默用户</div>
                    <div class="text-center pull-left bd-box bd_r_right" style="">新增用户</div>
                </div>
                <div class="x_content">
                    <div id="echart_line" style="height:350px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>沉默用户概况</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped text-center jambo_table bulk_action">
                            <thead class="">
                            <tr class="">
                                <th class="column-title text-center">平台类型</th>
                                <th class="column-title text-center">累计沉默用户</th>
                                <th class="column-title text-center">累计沉默用户比例</th>
                                <th class="column-title text-center">昨日沉默用户</th>
                                <th class="column-title text-center">昨日沉默用户比例</th>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span
                                            class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="even pointer">
                                <td class=" ">老人终端</td>
                                <td class=" ">5526</td>
                                <td class=" ">32%</td>
                                <td class=" ">230</td>
                                <td class=" ">32%</td>
                            </tr>
                            <tr class="odd pointer">
                                <td class=" ">亲属端</td>
                                <td class=" ">8976</td>
                                <td class=" ">56%
                                </td>
                                <td class=" ">480</td>
                                <td class=" ">56%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>

        <!--echarts-->
        <!--<div class="row border-dark" style="margin: 0 auto;width: 200px; clear: both; background: #ffffff">-->
        <!--<div class="btn-group text-center" style="width: 100%; height: 25px; line-height: 25px;">-->
        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border-red">老人终端</div>-->
        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border-dark">亲属端</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</block>