<extend name="Base/common"/>
<block name="head_script">
    <link rel="stylesheet" href="__CSS__/about.css">
    <style>
        ul li{
            width: 100%;
            display: block;
        }
    </style>
</block>
<block name="body">
    <div class="hzuo">
        <div class="hzuo_top">
            <div class="hzuo_list">
                <a href="#">
                    <div class="hzuo_nav" id="tog" onclick="hid('hezuo_all1','hezuo_all2','hezuo_all3')">加盟政策</div>
                </a>
                <a href="#">
                    <div class="hzuo_nav mleft75" onclick="hid('hezuo_all2','hezuo_all1','hezuo_all3')">常见问题</div>
                </a>
                <a href="#">
                    <div class="hzuo_nav mleft75" onclick="hid('hezuo_all3','hezuo_all2','hezuo_all1')">增值服务</div>
                </a>
            </div>
        </div>
        <div class="hezuo_all1">
            <div class="hzuo_jmbg">
                <div class="ft24 cl4 bold">
                    加盟条件及背景
                </div>
                <div class="jmbg_txt">
                    {$joinCondition.content}
                </div>
            </div>

            <div class="hzuo_jmbg">
                <div class="ft24 cl4 bold">
                    加盟流程
                </div>
                <div class="jmbg_txt">
                    {$joinFlow.content}
                </div>
            </div>

            <div class="hzuo_jmbg">
                <div class="ft24 cl4 bold">
                    我们的优势
                </div>
                <div class="jmbg_txt">
                    {$profitModel.content}
                </div>
            </div>
        </div>
        <div class="hezuo_all2">
            {$question.content}
        </div>
        <div class="hezuo_all3">
            {$service.content}
        </div>
    </div>
</block>

<block name="script">
    <script src="__JS__/unslider.min.js"></script>
    <script>
        $(".hezuo_all2,.hezuo_all3").hide();
        $(document).ready(function (e) {
            var unslider04 = $('#bannerall').unslider({
                        dots: true
                    }),
                    data04 = unslider04.data('unslider');
            $('.unslider-arrow04').click(function () {
                var fn = this.className.split(' ')[1];
                data04[fn]();
            });
        });
        function hid(show, hide1, hide2) {
            $("." + show).show();
            $("." + hide1).hide();
            $("." + hide2).hide();
        }
        $(".hzuo_nav").click(function () {
            $(".hzuo_navend").removeClass("hzuo_navend").addClass("hzuo_nav");
            $(this).removeClass("hzuo_nav").addClass("hzuo_navend");
        });

        $(document).ready(function () {
            $('#tog').trigger('click');
        });
        $(".hzuo_nav").click(function () {
            $(".hzuo_navend").removeClass("hzuo_navend").addClass("hzuo_nav");
            $(this).removeClass("hzuo_nav").addClass("hzuo_navend");
        });
    </script>
</block>