<extend name="Public/base"/>

<block name="body">
    <div class="right_col" role="main">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>用药提醒基本信息</h2>
                    <ul class="nav navbar-right panel_toolbox">
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content row">
                    <br/>
                    <form class="form-horizontal form-label-left">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">老人姓名:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control color-red" value="王军" disabled="disabled" placeholder="">
                                </div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">性别:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control " value="男" disabled="disabled" placeholder="">
                                </div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">年龄:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control" value="56" disabled="disabled" placeholder="">
                                </div>
                            </div>


                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">联系电话:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control" value="18818881888" disabled="disabled" placeholder="">
                                </div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">居住地址:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control" value="小六子" disabled="disabled" placeholder="">
                                </div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">开始日期:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control" value="2017-04-15" disabled="disabled" placeholder="">
                                </div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">用药周期:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <!--<input type="text" class="form-control" value="无" disabled="disabled" placeholder="">-->
                                    <select class="form-control" >
                                        <option value="每天">每天</option>
                                        <option value="一天三次">一天三次</option>
                                        <option value="一天两次">一天两次</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">服药周期:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <select class="form-control" >
                                        <option value="每天">两星期后停止用药</option>
                                        <option value="一天三次">一个月后停止用药</option>
                                        <option value="一天两次">三个月后停止用药</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">结束时间:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="date" class="form-control" value="2017-04-04" placeholder="">
                                </div>
                            </div>

                            <!--<div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">-->
                            <!--<label class="control-label col-md-3 col-sm-3 col-xs-12">Password</label>-->
                            <!--<div class="col-md-9 col-sm-9 col-xs-12">-->
                            <!--<input type="password" class="form-control" value="passwordonetwo">-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">-->
                            <!--<label class="control-label col-md-3 col-sm-3 col-xs-12">AutoComplete</label>-->
                            <!--<div class="col-md-9 col-sm-9 col-xs-12">-->
                            <!--<input type="text" name="country" id="autocomplete-custom-append" class="form-control col-md-10"/>-->
                            <!--</div>-->
                        </div>



                        <div class="x_title clear">
                            <br>
                            <br>
                            <h2>用药信息</h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel clear">
                                <div class="x_content">
                                    <table class="table table-bordered text-center table-hover">
                                        <thead class="bg-info ">
                                        <tr>
                                            <th class="text-center">药品名称</th>
                                            <th class="text-center">单词用药剂量</th>
                                            <th class="text-center">用药单位</th>
                                            <th class="text-center">第一次</th>
                                            <th class="text-center">第二次</th>
                                            <th class="text-center">用药备注</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>感冒通</td>
                                            <td>1</td>
                                            <td>
                                                <select class="form-control" >
                                                    <option value="每天">粒</option>
                                                    <option value="一天三次">包</option>
                                                    <option value="一天两次">瓶</option>
                                                </select>
                                            </td>
                                            <td>08：00 </td>
                                            <td>19：00</td>
                                            <td>饭后一小时</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!--<button class="btn btn-sm btn-danger pull-right">打印</button>-->
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <div class="x_title clear">
                                <br>
                                <br>
                                <h2>操作记录</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel clear">
                                    <div class="x_content">
                                        <table class="table table-bordered text-center table-hover">
                                            <thead class="bg-info ">
                                            <tr>
                                                <th class="text-center">操作时间</th>
                                                <th class="text-center">添加类型</th>
                                                <th class="text-center">药品名称</th>
                                                <th class="text-center">单次用药剂量</th>
                                                <th class="text-center">用药单位</th>
                                                <th class="text-center">服药时间</th>
                                                <th class="text-center">用药备注</th>
                                                <th class="text-center">提醒状态</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>2017-03-03 09:09:09</td>
                                                <td>老人添加</td>
                                                <td>感冒灵</td>
                                                <td>1</td>
                                                <td>
                                                    <select class="form-control" >
                                                        <option value="每天">粒</option>
                                                        <option value="一天三次">包</option>
                                                        <option value="一天两次">瓶</option>
                                                    </select>
                                                </td>
                                                <td>08:00 18:00</td>
                                                <td>无</td>
                                                <td>老人关闭提醒</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x_title clear">
                            <br>
                            <br>
                            <h2>操作</h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <br>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-bottom">
                            <button class="btn btn-sm btn-danger">编辑档案</button>
                            <button class="btn btn-sm btn-danger">视频呼叫</button>
                            <button class="btn btn-sm btn-danger">发送消息</button>
                            <button class="btn btn-sm btn-danger">打印</button>
                            <button class="btn btn-sm btn-danger">设置随身腕表</button>
                            <button class="btn btn-sm btn-danger">关闭页面</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div id="distpicker1" class="hide">
            <select></select>
            <select></select>
            <select></select>
        </div>
    </div>
</block>