<extend name="Public/base"/>

<block name="body">
    <div class="right_col" role="main" >
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>用药提醒基本信息</h2>
                    <ul class="nav navbar-right panel_toolbox">
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content row">
                    <br/>
                    <form class="form-horizontal form-label-left">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">老人姓名:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control color-red" value="{$medicationInfo.peopleName}" disabled="disabled" placeholder="">
                                </div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">性别:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control " value="{$medicationInfo['peopleGnder'] == 1?男:女}" disabled="disabled" placeholder="">
                                </div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">年龄:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control" value="{$medicationInfo.peopleAge}" disabled="disabled" placeholder="">
                                </div>
                            </div>


                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">联系电话:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control" value="{$medicationInfo.telephone}" disabled="disabled" placeholder="">
                                </div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">居住地址:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control" value="{$medicationInfo.livingStatus}" disabled="disabled" placeholder="">
                                </div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">开始日期:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control" value="{:time_format($remind['startDate']/1000,'Y-m-d')}" disabled="disabled" placeholder="">
                                </div>
                            </div>

                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">结束时间:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="date" class="form-control" disabled="disabled" value="{:time_format($remind['endDate']/1000,'Y-m-d')}" placeholder="">
                                </div>
                            </div>

                            <!--<div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">-->
                            <!--<label class="control-label col-md-3 col-sm-3 col-xs-12">Password</label>-->
                            <!--<div class="col-md-9 col-sm-9 col-xs-12">-->
                            <!--<input type="password" class="form-control" value="passwordonetwo">-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">-->
                            <!--<label class="control-label col-md-3 col-sm-3 col-xs-12">AutoComplete</label>-->
                            <!--<div class="col-md-9 col-sm-9 col-xs-12">-->
                            <!--<input type="text" name="country" id="autocomplete-custom-append" class="form-control col-md-10"/>-->
                            <!--</div>-->
                        </div>


                        <div class="x_title clear">
                            <br>
                            <br>
                            <h2>用药信息</h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel clear">
                                <div class="x_content">
                                    <table class="table table-bordered text-center table-hover">
                                        <thead class="bg-info ">
                                        <tr>
                                            <th class="text-center">药品名称</th>
                                            <th class="text-center">单词用药剂量</th>
                                            <th class="text-center">用药单位</th>
                                            <?php
                                           foreach($remind['triggerTimes'] as $key=>$value){
                                                    if($key==0){
                                                        echo '<th class="text-center">第一次</th>';
                                                    }
                                                    elseif($key==1){
                                                        echo '<th class="text-center">第二次</th>';
                                                    }
                                                    elseif($key==2){
                                                         echo '<th class="text-center">第三次</th>';
                                                    }
                                                }
                                            ?>
                                            <th class="text-center">用药备注</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{$remind.drugName}</td>
                                            <td>{$remind.dose}</td>
                                            <td>
                                                <select class="form-control">
                                                    <option
                                                    <if condition="$remind.doseUnit eq 0">selected</if>
                                                    value="0">粒</option>
                                                    <option
                                                    <if condition="$remind.doseUnit eq 1">selected</if>
                                                    value="1">片</option>
                                                    <option
                                                    <if condition="$remind.doseUnit eq 2">selected</if>
                                                    value="2">袋</option>
                                                    <option
                                                    <if condition="$remind.doseUnit eq 3">selected</if>
                                                    value="3">颗</option>
                                                    <option
                                                    <if condition="$remind.doseUnit eq 4">selected</if>
                                                    value="4">瓶</option>
                                                </select>
                                            </td>
                                            <?php
                                           foreach($remind['triggerTimes'] as $key=>$value){
                                                    echo '<td>'.$value.'</td>';
                                                }
                                             ?>
                                            <td>{$remind.remark}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!--<button class="btn btn-sm btn-danger pull-right">打印</button>-->
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <div class="x_title clear">
                                <br>
                                <br>
                                <h2>
                                    <if condition="$flag eq 1">
                                    <!--坐席端显示-->
                                        操作记录
                                    <else/>
                                    <!--后台端显示-->
                                        历史用药
                                    </if>
                                </h2>
                                <ul class="nav navbar-right panel_toolbox">
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel clear">
                                    <div class="x_content">
                                        <table class="table table-bordered text-center table-hover">
                                            <thead class="bg-info ">
                                            <tr>
                                                <th class="text-center">操作时间</th>
                                                <th class="text-center">添加类型</th>
                                                <th class="text-center">药品名称</th>
                                                <th class="text-center">单次用药剂量</th>
                                                <th class="text-center">用药单位</th>
                                                <th class="text-center">服药时间</th>
                                                <th class="text-center">用药备注</th>
                                                <th class="text-center">提醒状态</th>
                                                <th class="text-center">操作人</th>
                                                <if condition="$flag eq 1">
                                                    <!--坐席端显示-->
                                                    <th class="text-center">关闭原因</th>
                                                </if>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <volist name="history" id="history">
                                                    <tr>
                                                        <td>{:time_format($history['createTime']/1000,'Y-m-d')}</td>
                                                        <td>
                                                            {$history.adder}
                                                        </td>
                                                        <td>{$history.drugName}</td>
                                                        <td>{$history.dose}</td>
                                                        <td>
                                                                <if condition="$history.doseUnit eq 0">粒
                                                                    <elseif condition="$history.doseUnit eq 1" />
                                                                    片
                                                                    <elseif condition="$history.doseUnit eq 2" />
                                                                    袋
                                                                    <elseif condition="$history.doseUnit eq 3" />
                                                                    颗
                                                                    <elseif condition="$history.doseUnit eq 4" />
                                                                    瓶
                                                                </if>
                                                        </td>
                                                        <td>{$history.timeStr}</td>
                                                        <td>{$history.remark}</td>
                                                        <td>{$history['status'] == 1 ? 已关闭:执行中}</td>
                                                        <td>{$history.closer}</td>
                                                        <if condition="$flag eq 1">
                                                            <td style="max-width: 250px;word-break: break-all;">{$history.closeReason}</td>
                                                        </if>
                                                    </tr>
                                                </volist>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x_title clear">
                            <br>
                            <br>
                            <h2>操作</h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <br>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-bottom">
                            <input type="hidden" id="remindId" value="{$remind.remindId}" />
                            <input type="hidden" id="closerId" value="2" />
                            <if condition="$flag eq 1 && $remind['status'] eq 0">
                                <button type="button" data-toggle="modal" data-target="#myModal1" class="btn btn-sm btn-danger">关闭提醒</button>
                            </if>
                            <a href="{:U('medication')}" class="btn btn-sm btn-danger">返回</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal1" style="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" style="width: 80%;line-height: 2.54">
                <div class="modal-content col-lg-12 col-md-12 col-sm-12 col-sm-12">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel2">关闭提醒</h4>
                        <br>
                        关闭原因：
                        <br>
                        <textarea id="closeReason" class="col-lg-12 col-sm-12" placeholder="最多可输入255个字符"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button id="btn_cancel" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-danger btn-close">保存</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</block>

<block name="script">
    <script>
        $('.btn-close').click(function(){
            $.ajax({
                url: "{:U('Health/closeRemind')}",
                type: 'POST',
                data:{'remindId':$('#remindId').val(),'closerId':$('#closerId').val(),'closeReason':$('#closeReason').val()},
                success: function (data) {
                    if(data==1){
                        alert('关闭提醒成功！');
                        $('#myModal1').modal('hide');
                        window.location.reload(true);
                    }
                    else{
                        alert('关闭提醒失败！');
                    }
                }
            })
        });
        $('#btn_cancel').click(function(){
           $('#closeReason').val('');
        });
    </script>
</block>