<extend name="Public/base"/>

<block name="body">
    <div class="right_col" role="main">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="page-title">
                    <div class="title_left" style="">
                        <h3>健康监控</h3>
                    </div>
                </div>
                <div class="x_title"></div>
                <div class="page-title clear">

                    <br>
                    <div class="title_left" style="width: 50%; line-height: 2.5">
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <label class="control-label pull-left" style="margin-right: 5px;">老人姓名:</label>
                            <div style="float:left">
                                <input value="{$name}" id="key" type="text" class="form-control" placeholder="输入姓名">
                            </div>
                    <span class="input-group-btn" style="float:left">
                        <a class="clf btn btn-danger" id="search" url="{:U('index')}" style="color: #fff;">查询</a>
                    </span>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="x_content clear">
                    <br>
                    <div class=""></div>
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead >
                            <tr class="headings text-center">
                                <th class="column-title text-center">老人姓名</th>
                                <th class="column-title text-center">设备号</th>
                                <th class="column-title text-center">呼吸测量数据</th>
                                <th class="column-title text-center">心率测试数据</th>
                                <th class="column-title text-center">睡眠质量</th>
                                <th class="column-title text-center">测试时间</th>
                                <th class="column-title text-center">操作</th>
                            </tr>
                            </thead>
                            <volist name="list" id="l">
                                <tr class="even pointer text-center">
                                    <td class="column-title">{$l.peopleName}</td>
                                    <td class="column-title ">{$l.device_str}</td>
                                    <td class="column-title ">{$l.dataBreathValue}次/分</td>
                                    <td class="column-title ">{$l.dataHeartbeatValue}次/分</td>
                                    <td class="column-title ">{$sleepValue[$l['dataSleepValue']]}</td>
                                    <td class="column-title ">{:time_format($l['measureTime']/1000,'Y-m-d')}</td>
                                    <td class="pointer ">
                                        <a class="lay" data-toggle="modal" data-id="{$l.peopleId}"
                                           data-target="#myModal">历史数据</a>
                                    </td>
                                </tr>
                            </volist>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        {$_page}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" style="" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">历史数据</h3>
                </div>
                <div class="x_panel">
                    <div class="bd-list" style="">
                        <div class="text-center pull-left bd-box bd_r_left  bd_active" style="border-right: none;">呼吸测量</div>
                        <div class="text-center pull-left bd-box" style="">心率测量</div>
                        <div class=" text-center pull-left bd-box  bd_r_right " style="">睡眠质量</div>
                    </div>
                    <div class="x_content col-md-6 col-sm-6 col-xs-6">
                        <div id="echart" style="height:350px;    "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script src="__JS__/distpicker.data.js"></script>
    <script src="__VENDOR__/echarts/dist/echarts.min.js"></script>
    <script>
        $("#myModal").on('shown.bs.modal', function () {
            init_echarts();
            var f = echarts.init(document.getElementById("echart"));
            f.setOption({
                title: {text: "沉默用户", subtext: "趋势图"},
                tooltip: {trigger: "axis"},
                legend: {x: 220, y: 40, data: ["沉默用户", "新增用户"]},
                toolbox: {
                    show: !0,
                    feature: {
                        magicType: {
                            show: !0,
                            title: {line: "Line", bar: "Bar", stack: "Stack", tiled: "Tiled"},
                            type: ["line"]
                        }, restore: {show: !0, title: "Restore"}, saveAsImage: {show: !0, title: "Save Image"}
                    }
                },
                calculable: !0,
                xAxis: [{
                    type: "category",
                    boundaryGap: !1,
                    data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
                }],
                yAxis: [{type: "value"}],
                series: [{
                    name: "新增用户",
                    type: "line",
                    smooth: !0,
                    itemStyle: {normal: {areaStyle: {type: "default"}}},
                    data: [10, 12, 21, 54, 260, 830, 710]
                }, {
                    name: "沉默用户",
                    type: "line",
                    smooth: !0,
                    itemStyle: {normal: {areaStyle: {type: "default"}}},
                    data: [30, 182, 434, 791, 390, 30, 10]
                }
                ]
            })
        });
    </script>
</block>
<block name="script">
    <script>
        $("#search").click(function () {
            var url = $(this).attr("url");
            var key = $("#key").val();
            location.href = url + "?name=" + key;
        });
    </script>
</block>