<extend name="Public/base"/>

<block name="body">
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left" style="">
                <h3>用药提醒</h3>
            </div>
            <!--<div class="title_right">-->
            <!--<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">-->
            <!--<div class="input-group">-->
            <!--<input type="text" class="form-control" placeholder="搜索...">-->
            <!--<span class="input-group-btn">-->
            <!--<button class="clf btn btn-danger" type="button" style="color: #fff;">查询</button>-->
            <!--</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
        <div class="page-title">
            <div class="title_left" style="width: 50%; line-height: 2.5">
                <!--<label class="control-label col-md-2 col-sm-2 col-xs-12 text-right">老人姓名:</label>-->
                <!--<div class="col-md-4 col-sm-4 col-xs-4">-->
                    <!--<div class="">-->
                        <!--<input type="text" class="form-control" placeholder="输入姓名">-->
                    <!--</div>-->
                <!--</div>-->

                <label class="control-label col-md-2 col-sm-2 col-xs-12 text-right">状态:</label>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <select class="form-control" onchange="window.location=this.value">
                        <option <?php if(I('get.status')==-1||I('get.status')=='')echo 'selected';?> value="{:U('Health/medication',array('status'=>-1))}">所有</option>
                        <option <?php if(I('get.status')==0)echo 'selected';?> value="{:U('Health/medication',array('status'=>0))}">执行中</option>
                        <option <?php if(I('get.status')==1)echo 'selected';?> value="{:U('Health/medication',array('status'=>1))}">已关闭</option>
                    </select>
                </div>
                <a href="{:U('add_reminder')}" class="btn btn-sm btn-danger">新增用药提醒</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title"></div>
                <!--<div class="row col-md-6 col-sm-6 col-xs-12">-->
                <!--<a href="newadd.html"><button class="btn btn-sm btn-danger">新建老人档案</button></a>-->
                <!--<button class="btn btn-default  btn-group-sm">批量导入</button>-->
                <!--<button class="btn btn-default  btn-group-sm">导出数据</button>-->
                <!--</div>-->

                <div class="x_content">
                    <div class=""></div>
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th class="column-title">老人姓名</th>
                                <th class="column-title">性别</th>
                                <th class="column-title">年龄</th>
                                <th class="column-title">药品名称</th>
                                <th class="column-title">用量</th>
                                <th class="column-title">第一次</th>
                                <th class="column-title">第二次</th>
                                <th class="column-title">用药状态</th>
                                <th class="column-title">开始服药时间</th>
                                <th class="column-title">操作</th>
                            </tr>
                            </thead>
                            <volist name="medicationList" id="list">
                            <tr class="even pointer">
                                <td class="">{$list.peopleName}</td>
                                <td class=" ">{$list['peopleGnder']==0?女:男}</td>
                                <td class=" ">{$list.peopleAge}</td>
                                <td class=" ">{$list.drugName}</td>
                                <td class=" ">{$list.dose}{$list.doseUnit}</td>
                                <volist name="list['triggerTimes']" id="ttimes" offset="0" length="2">
                                    <td>
                                        {$ttimes}

                                    </td>
                                    <?php
                                    if(count($list['triggerTimes'])<2){
                                    echo '<td>-</td>';
                                    }
                                    ?>
                                </volist>
                                <td class=" ">{$list['status']==1?已关闭:执行中}</td>
                                <td class=" ">{:time_format($list['startDate']/1000,'Y-m-d')}</td>
                                <td class="pointer">
                                    <a href="{:U('detail',array('rid'=>$list['remindId']))}">查看</a>
                                </td>
                            </tr>
                            </volist>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                            <ul class="pagination">
                                {$_page}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" style="" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">历史数据</h3>
                </div>
                <div class="x_panel">
                    <div class="bd-list" style="">
                        <div class="text-center pull-left bd-box" style="border-right: none;">呼吸测量</div>
                        <div class="text-center pull-left bd-box" style="border-right: none;">心率测量</div>
                        <div class="border-dark text-center pull-left bd-box" style="">睡眠质量</div>
                    </div>
                    <div class="x_content col-md-6 col-sm-6 col-xs-6">
                        <div id="echart_line" style="height:350px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>