<extend name="Public/base"/>
<block name="body">
    <div class="container body">
        <div class="main_container">
            <!--content pages-->
            <div class="right_col" role="main">
                <div class="col-md-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>设备报警</h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content row">
                            <br/>

                            <form class="form-horizontal form-label-left" method="post" action="{:U('warning_have_deal')}">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">当前设备报警:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" class="form-control color-red"
                                                   value="{$data.alarmType_text}" disabled="disabled" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">亲属电话:</label>
                                        <div class="col-md-8 col-sm-8 col-xs-12  has-feedback">
                                            <input type="text" class="form-control" disabled="disabled" value="{$data.telephone}"  placeholder="电话">
                                            <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">亲属地址:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" class="form-control" value="{$data.adress}"
                                                   disabled="disabled" placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">居住情况:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" class="form-control" value="{$data.liveStatus_text}"
                                                   disabled="disabled" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">姓名:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" class="form-control" value="{$data.name}"
                                                   disabled="disabled" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">身体状况:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" class="form-control" value="{$data.healthStatus_text}"
                                                   disabled="disabled" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">居住地址:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" class="form-control" value="上海" disabled="disabled"
                                                   placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">心率:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" ignore="1" class="form-control" value="{$data.hertbeat}"
                                                   disabled="disabled" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">呼吸:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" ignore="1" class="form-control" value="{$data.breath}"
                                                   disabled="disabled" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row border-bottom"></div>
                                    <br><br>

                                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">紧急联系人:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" class="form-control" value="{$data.contactName}" disabled="disabled"
                                                   placeholder="">
                                        </div>
                                    </div>


                                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">紧急联系电话:</label>
                                        <div class="col-md-8 col-sm-8 col-xs-12 form-group has-feedback">
                                            <input type="text" class="form-control" disabled="disabled" value="{$data.contactMobile}" id="inputSuccess5" placeholder="电话">
                                            <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">与老人关系:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" class="form-control" ignore="1" value="{$data.contactRelation}" disabled="disabled"
                                                   placeholder="">
                                        </div>
                                    </div>
                                </div>


                                <div class="x_title clear">
                                    <br>
                                    <br>

                                    <h2>联系记录</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <a class="col-lg-3 col-md-4 btn btn-default big_btn" style="">视频接通</a>
                                    <a class="col-lg-3 col-md-4 btn btn-default big_btn" style="">联系老人</a>
                                    <a class="col-lg-3 col-md-4 btn btn-default big_btn" style="">联系亲属</a>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="x_panel clear" style="border:none;">
                                        <div class="x_content">
                                            <table class="table table-bordered text-center table-hover" >
                                                <thead class="bg-info ">
                                                <tr>
                                                    <th class="text-center">时间</th>
                                                    <th class="text-center">发生事件</th>
                                                    <th class="text-center">通话时长</th>
                                                    <th class="text-center">操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <volist name="processMode" id="p">
                                                    <tr>
                                                        <td>{:time_format($p['processTime']/1000)}</td>
                                                        <td>{$p.processMode_text}</td>
                                                        <td>{$p.processDuration}</td>
                                                        <td>{$p.processResult_text}</td>
                                                    </tr>
                                                </volist>
                                                </tbody>
                                            </table>
                                            <!--<button class="btn btn-sm btn-danger pull-right">打印</button>-->
                                        </div>
                                    </div>
                                </div>


                                <div class="x_title clear">
                                    <br>
                                    <br>

                                    <h2>操作</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <br>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-bottom">
                                    <button type="submit" class="btn btn-sm btn-danger ajax-post"
                                            target-form="form-label-left">已处理
                                    </button>
                                    <button class="btn btn-sm btn-danger"
                                            onclick="javascript:history.back(-1);return false;">关闭
                                    </button>
                                    <input type="hidden" name="alarmId" value="{$data.alarmId}">
                                </div>

                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_title">
                                            <br><br>

                                            <h2>处理结果</h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                        <br>

                                        <div class="col-md-12 col-sm-12 col-xs-12 border-bottom">
                                            <volist name="result_type" id="r">
                                                <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                                    <label>
                                                        <input type="radio" name="processResult[]" value="{$key}" {$r.checked}
                                                               class="flat">
                                                        {$r.name}
                                                    </label>
                                                </div>
                                            </volist>
                                            <!--<div class="checkbox col-md-6 col-sm-6 col-xs-12 text-right">-->
                                            <!--<label>-->
                                            <!--处理人：<span>小王</span>-->
                                            <!--</label>-->
                                            <!--</div>-->
                                        </div>

                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                                            <br>
                                            <br>
                                            <label class="control-label col-md-1 col-sm-1 col-xs-12 text-left">
                                                其他:
                                            </label>

                                            <div class="col-md-11 col-sm-11 col-xs-12">
                                                <textarea name="processRemark" class="form-control" rows="3"
                                                          placeholder='备注在2000字以内'>
                                                    {$data.processRemark}
                                                </textarea>
                                            </div>
                                        </div>
                                    <div class="x_title clear">
                                        <br>
                                        <br>

                                        <h2>当前报警记录</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel clear">
                                            <div class="x_content">
                                                <table class="table table-bordered text-center table-hover">
                                                    <thead class="bg-info ">
                                                    <tr>
                                                        <th class="text-center">触发时间</th>
                                                        <th class="text-center">报警类型</th>
                                                        <th class="text-center">处理结果</th>
                                                        <th class="text-center">处理人</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <volist name="list" id="l">
                                                        <tr>
                                                            <td>{:time_format($l['alarmTime']/1000)}</td>
                                                            <td>{$l.alarmType_text}</td>
                                                            <td>{$l.processResult_text.name}</td>
                                                            <td>{$l.processUserName}</td>
                                                        </tr>
                                                    </volist>
                                                    </tbody>
                                                </table>
                                                {$_page}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="distpicker1" class="hide">
                    <select></select>
                    <select></select>
                    <select></select>
                </div>
            </div>
        </div>
    </div>
</block>