<extend name="Base/common"/>
<block name="head_script">
    <link rel="stylesheet" href="__CSS__/product.css">
    <style>
        .product img{
            width: 100%;
            opacity: 0;
        }
    </style>
</block>
<block name="body">
    <div class="product" style="background: url('{:get_cover($solution['cover_id'])['path']}')no-repeat center; background-size: 100% 100%;">
        <img  src="{:get_cover($solution['cover_id'])['path']}">
    </div>
</block>

<block name="script">
    <script src="__JS__/unslider.min.js"></script>
    <script>
        $(document).ready(function (e) {
            var unslider04 = $('#bannerall').unslider({
                        dots: true
                    }),
                    data04 = unslider04.data('unslider');
            $('.unslider-arrow04').click(function () {
                var fn = this.className.split(' ')[1];
                data04[fn]();
            });
        });
    </script>
</block>