<!-- 底部
================================================== -->
<div class="foot">
    <div class="foot_text">
        <div class="callus_tit" style="">
            联系我们
        </div>
        <div class="callus_txt">
            地址：南通市开发区通盛大道188号创业服务中心D座901
        </div>
        <div class="callus_txt">
            电话：021-52406932
        </div>
        <div class="callus_txt">
            手机：1267126712378
        </div>
        <div class="callus_txt">
            联系人：李曦
        </div>

        <div class="erweima1" style="">
            <img width="121" height="121" src="__IMG__/index/logo.png">
            <div class="mtop20 ">
                官方微信公众号
            </div>
        </div>
        <div class="erweima2" style="">
            <img width="121" height="121" src="__IMG__/index/logo.png">
            <div class="mtop20 ">
                星途科技
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer_text">
        <span style="">沪ICP备14023054号</span>
        <span class="flt_r" style="">官方微信公众号：星途科技</span>
    </div>
</div>

<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
    <block name="hidden"></block>
</div>
