<extend name="Public/base"/>

<block name="body">
    <div class="right_col" role="main">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>意见反馈</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <i class="fa fa-trash color-red"></i>
                            批量删除
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped text-center jambo_table bulk_action">
                            <thead>
                            <tr class="headings bg-success cl3">
                                <th class="text-center">
                                    <!--<input type="checkbox" id="check-all" class="flat">-->
                                </th>
                                <th class="column-title text-center">反馈时间</th>
                                <th class="column-title text-center">反馈内容</th>
                                <th class="column-title text-center">反馈人</th>
                                <th class="column-title text-center">操作</th>

                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td class="a-center">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" ">2017-3-1</td>
                                <td class=" ">软件打不开</td>
                                <td class=" ">小白</td>
                                <td class=" "><a class="color-red" href="">删除</a></td>
                            </tr>
                            <tr class="even pointer">
                                <td class="a-center">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" ">2017-3-1</td>
                                <td class=" ">软件打不开</td>
                                <td class=" ">小白</td>
                                <td class=" "><a class="color-red" href="">删除</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</block>