<extend name="Public/base"/>

<block name="body">
    <div class="right_col" role="main">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>意见反馈</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="btn ajax-post confirm" url="{:U('del_feeback')}" target-form="ids">
                                <i class="fa fa-trash color-red ajax-post confirm" url="{:U('del_feeback')}" target-form="ids"></i>
                                批量删除
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped text-center jambo_table bulk_action">
                            <thead>
                            <tr class="headings bg-success cl3">
                                <th class="text-center">
                                    <input type="checkbox" class="flat check-all">
                                </th>
                                <th class="column-title text-center">反馈时间</th>
                                <th class="column-title text-center">反馈内容</th>
                                <th class="column-title text-center">反馈人</th>
                                <th class="column-title text-center">操作</th>

                            </tr>
                            </thead>

                            <tbody>
                            <volist name="list" id="l">
                                <tr>
                                    <td class="a-center">
                                        <input type="checkbox" name="feedbackId[]" value="{$l.feedbackId}"
                                               class="flat ids">
                                    </td>
                                    <td class=" ">{:time_format($l['create_time'])}</td>
                                    <td class=" ">{$l.content}</td>
                                    <td class=" ">{$l.userName}</td>
                                    <td class=" ">
                                        <a class="color-red confirm ajax-get" href="{:U('del_feeback?feedbackId='.$l['feedbackId'])}">删除</a>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        {$_page}
                    </div>
                </div>
            </div>
        </div>

    </div>
</block>