<extend name="Public/base"/>

<block name="body">
    <div class="right_col" role="main">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>代理通知</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="btn ajax-del confirm" url="{:U('del')}" target-form="ids">
                                <i class="fa fa-trash color-red ajax-del confirm" url="{:U('del')}" target-form="ids"></i>
                                删除
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="table-responsive">
                        <form class="ids">
                            <table class="table table-striped text-center jambo_table bulk_action">
                                <thead>
                                <tr class="headings bg-success cl3">
                                    <th class="text-center">
                                        <input type="checkbox" class="flat check-all">
                                    </th>
                                    <th class="column-title text-center">时间</th>
                                    <th class="column-title text-center">代理公司名称</th>
                                    <th class="column-title text-center">当前代理商等级</th>
                                    <th class="column-title text-center">发生事件</th>
                                    <th class="column-title text-center">加盟公司/机构名称</th>
                                    <th class="column-title text-center">新增设备</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="list" id="notice">
                                    <tr class="even pointer">
                                        <td class="a-center">
                                            <input type="checkbox" name="noticeId[]" value="{$notice.noticeId}"
                                                   class="flat ids">
                                        </td>
                                        <td>{:time_format($notice['create_time'],'Y-m-d')}</td>
                                        <td>{$notice.agentName}</td>
                                        <td>{$notice.agentDegree}级</td>
                                        <td>{$notice.event}</td>
                                        <td>{$notice.orgName}</td>
                                        <td class="a-right a-right ">{$notice.quantity}</td>
                                        </td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </form>
                        {$_page}
                    </div>
                </div>
            </div>
        </div>

    </div>
</block>