<extend name="Public/base"/>

<block name="body">
    <div class="right_col" role="main">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>代理通知</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <i class="fa fa-trash color-red"></i>
                            批量删除
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped text-center jambo_table bulk_action">
                            <thead>
                            <tr class="headings bg-success cl3">
                                <th class="text-center">
                                    <input type="checkbox" id="check-all" class="flat">
                                </th>
                                <th class="column-title text-center">时间</th>
                                <th class="column-title text-center">代理公司名称</th>
                                <th class="column-title text-center">当前代理商等级</th>
                                <th class="column-title text-center">发生事件</th>
                                <th class="column-title text-center">加盟公司/机构名称</th>
                                <th class="column-title text-center">新增设备</th>
                                <!--<th class="column-title text-center no-link last"><span class="nobr">Action</span>-->
                                <!--</th>-->
                                <!--<th class="bulk-actions" colspan="7">-->
                                <!--<a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>-->
                                <!--</th>-->
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="even pointer">
                                <td class="a-center">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" ">2017-3-1</td>
                                <td class=" ">浙江审视医疗有限责任公司</td>
                                <td class=" ">一级</td>
                                <td class=" ">杭州市代理加盟</td>
                                <td class=" ">杭州冠生园</td>
                                <td class="a-right a-right ">12台</td>
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" ">2017-3-1</td>
                                <td class=" ">浙江审视医疗有限责任公司</td>
                                <td class=" ">一级</td>
                                <td class=" ">杭州市代理加盟</td>
                                <td class=" ">杭州冠生园</td>
                                <td class="a-right a-right ">12台</td>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>

    </div>
</block>