<extend name="Public/base"/>

<block name="body">
    <form action="{:U('addAgent')}" method="post" class="form-horizontal form-label-left">
        <div class="right_col" role="main">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>代理商信息</h2>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content row">
                        <br/>
                        <div class="form-horizontal form-label-left">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">代理商名称:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input name="orgName" type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">代理商等级:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="hidden" id="hid_degree" value="{$degree}" />
                                        <input type="hidden" name="degree" value="{$degree+1}" />
                                        <select class="form-control" id="degree">
                                            <option value="-1">请选择</option>
                                            <option value="1">一级代理商</option>
                                            <option value="2">二级代理商</option>
                                            <option value="3">三级代理商</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">代理区域:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div id="distpicker2" class="">
                                            <!--省-->
                                            <select name="provinceId" class="data-province form-control"></select>
                                            <!--市-->
                                            <select  name="cityId" class="data-city form-control"></select>
                                            <!--县-->
                                            <select  name="countyId" class="data-district form-control"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">代理商登录ID:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" value="A0001(自动生成不可编辑)"
                                               disabled="disabled" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">公司电话:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input name="telephone" type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">公司组织机构:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input name="orgCode" type="text" class="form-control" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">公司地址:</label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <div class="">
                                            <input name="address" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="checkbox form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-5 col-sm-4 col-xs-12">
                                        <input ignore="1" name="extendFlag" value='1' type="checkbox" class="flat">
                                        允许发展下级代理
                                    </label>
                                </div>
                                <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        公司介绍/备注:
                                    </label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <textarea name="remark" class="form-control" rows="3" placeholder='备注在2000字以内'></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>管理人员基本信息</h2>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content row">
                        <br/>
                        <div class="form-horizontal form-label-left">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">管理人姓名:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input name="name[]" type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">手机号码:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input name="mobile[]" type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">身份证号:</label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <div class="">
                                            <input name="idNo[]" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>负责人基本信息</h2>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content row">
                        <br/>
                        <div class="form-horizontal form-label-left">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">负责人姓名:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input name="name[]" type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">手机号码:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input name="mobile[]" type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">身份证号:</label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <div class="">
                                            <input name="idNo[]" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>登录密码</h2>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content row">
                        <br/>
                        <div class="form-horizontal form-label-left">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">登录密码:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input name="password" type="password" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">确认密码:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input recheck="password" errormsg="密码输入不一致" name="repassword" type="password" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>证件上传</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="dropzone"></div>
                                <input type="hidden" id="imagePath" name="imagePath"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="x_title">
                            <h2>设备选择</h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 border-bottom">
                            <br>
                            <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                <label>
                                    <input name="deviceType[]" value="0" type="checkbox" class="flat"> 老人终端机
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                <label>
                                    <input name="deviceType[]" value="1" type="checkbox" class="flat"> SOS手腕
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                <label>
                                    <input name="deviceType[]" value="2" type="checkbox" class="flat"> 门磁状态检测仪
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                <label>
                                    <input name="deviceType[]" value="3" type="checkbox" class="flat">
                                    烟雾报警器
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                <label>
                                    <input name="deviceType[]" value="4" type="checkbox" class="flat">
                                    漏水检测器
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                <label>
                                    <input name="deviceType[]" value="5" type="checkbox" class="flat">
                                    呼吸心率仪
                                </label>
                            </div>
                            <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                <label>
                                    <input name="deviceType[]" value="6" type="checkbox" class="flat">
                                    人体红外加测
                                </label>
                            </div>
                            <div class="checkbox col-md-12 col-sm-12 col-xs-12">
                                <br>
                                <label>
                                    <input name="quantity" type="text" class="flat form-control" placeholder="设备数量">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--代理权限设置-->
                <div class="x_panel">
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="x_title">
                            <h2>代理权限设置</h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 border-bottom">
                            <br>
                            <volist name="auth" id="auth">
                                <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                    <label>
                                        <input value="{$auth.id}" name="roleModuleIds[]" checked <if condition="$auth['isOptional'] eq 0">onclick="return false"</if>  type="checkbox" class="flat">
                                        {$auth['module']['moduleName']}
                                    </label>
                                </div>
                            </volist>
                        </div>
                        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12  clear" style="margin-top: 30px;">
                            <button id="btn_save" class="btn btn-lg btn-danger ajax-post"  type="submit"
                                    target-form="form-label-left">保存
                            </button>
                            <button class="btn btn-lg btn-danger" onclick="javascript:history.back(-1);return false;">返回
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</block>

<block name="script">
    <script src="__JS__/distpicker.data.js"></script>
    <script src="__JS__/distpicker.js"></script>
    <script type="text/javascript">
        //根据degree判断添加几级代理
        var hid_degree = $('#hid_degree').val();
        $('#degree').val(parseInt(hid_degree)+1);
        hide_area(parseInt(hid_degree)+1);
        $('#degree').attr('disabled','true');
        //行政区选择
        $("#distpicker2").distpicker();
        $(function () {
            Page.init();
        });
    </script>
</block>