<extend name="Public/base"/>
<block name="body">
    <div class="container body">
        <div class="right_col" role="main">
            <form action="{:U('AddOrg')}" method="post" class="form-horizontal form-label-left">
                <div class="col-md-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>机构信息</h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content row">
                            <br/>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">机构名称:</label>

                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" name="orgName" value="{$orgInfo.orgName}"
                                               class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">机构性质:</label>

                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select name="insType" class="form-control">
                                            <option value="-1">请选择</option>
                                            <option value="0">医院</option>
                                            <option value="1">生活小区</option>
                                            <option value="2">养老院</option>
                                            <option value="3">家庭/个人</option>
                                            <option value="4">注册公司</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">联系电话:</label>

                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" name="telephone" value="{$orgInfo.telephone}"
                                               class="form-control" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">机构登录ID:</label>

                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" value="A0001(自动生成不可编辑)"
                                               disabled="disabled" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">所属上级:</label>

                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div id="" class="">
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">所属区域:</label>

                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div id="distpicker2" class="">
                                            <input type="text" value="{$info.district}" name="district"
                                                   class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">登录密码:</label>

                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="password" value="" name="password" class="form-control"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">确认登录密码:</label>

                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="password" name="repassword" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">公司组织机构:</label>

                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" value="{$orgInfo.orgCode}"
                                               name="orgCode" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">公司地址:</label>

                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <div class="">
                                            <input type="text" value="{$orgInfo.address}" name="address"
                                                   class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        备注:
                                    </label>

                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                    <textarea name="remark" class="form-control" rows="3"
                                              placeholder='备注在2000字以内'>{$orgInfo.remark}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--管理人员-->
                    <volist name="contactList" id="contact">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>
                                    <php>if($key==0)echo "管理人员基本信息";</php>
                                    <php>if($key==1)echo"负责人基本信息";</php>
                                </h2>
                                <ul class="nav navbar-right panel_toolbox">
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content row">
                                <br/>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">负责人姓名:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input name="name[]" value="{$contact.name}" type="text"
                                                   class="form-control"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">手机号码:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input name="mobile[]" value="{$contact.mobile}" type="text"
                                                   class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">身份证:</label>

                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <div class="">
                                                <input type="text" name="idNo[]" value="{$contact.idNo}"
                                                       class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="contactId[]" value="{$contact.contactId}">
                                </div>
                            </div>
                        </div>
                    </volist>
                    <!--证件上传-->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>证件上传</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div action="#" class="dropzone">
                                        <volist name="imgList" id="img">
                                            <div class="dz-preview dz-processing dz-image-preview dz-success dz-complete">
                                                <div class="dz-image">
                                                    <img data-dz-thumbnail="" alt="{$img.displayName}"
                                                         src="{$img.imagePath}">
                                                </div>
                                                <a class="dz-remove" data-path="{$img.imagePath}"
                                                   data-id="{$img.imageId}" href="javascript:undefined;"
                                                   data-dz-remove="">删除</a></div>
                                        </volist>
                                    </div>
                                    <input type="hidden" id="imagePath" value="{$imgPathStr}" name="imagePath">
                                    <input type="hidden" value="{$imgIdStr}" name="imgIdStr">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--具备条件-->
                    <div class="x_panel">
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <div class="x_title">
                                <h2>具备条件</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 border-bottom">
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <br>

                                    <div class="checkbox col-md-1 col-sm-1 col-xs-12">
                                    </div>
                                    <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                        <label>
                                            <input type="checkbox" disabled="disabled" class="flat"> 医护人员
                                        </label>
                                    </div>
                                    <div class="checkbox col-md-2  col-sm-2 col-xs-12">
                                        <label>
                                            <input type="checkbox" disabled="disabled" class="flat"> 急救设施
                                        </label>
                                    </div>
                                    <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                        <label>
                                            <input type="checkbox" disabled="disabled" class="flat"> 拥有坐席
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!--详情页面显示-->
                        <div id="divOption2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-bottom ">
                            <br>
                            <!--在账号启用状态显示账号停用按钮 在账号停用状态显示启用按钮-->
                            <a href="{:U('index')}" class="btn btn-lg btn-danger">返回</a>
                            <button class="btn btn-lg btn-danger" type="button" data-toggle="modal"
                                    data-target="#myModal2">代理商信息变更
                            </button>
                            <button class="btn btn-lg btn-danger ">导出为文档资料</button>
                        </div>
                        <!--变更页面显示-->
                        <div id="divOption" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-bottom hide">
                            <!--<button type="button" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#myModal">账号托管-->
                            <!--</button>-->
                            <!--在账号启用状态显示账号停用按钮 在账号停用状态显示启用按钮-->
                            <a href="{:U('index')}" class="btn btn-lg btn-danger">返回</a>
                            <button class="btn btn-lg btn-danger">账号停用
                            </button>
                            <button class="btn btn-lg btn-danger ajax-post" type="button"
                                    target-form="form-label-left">保存页面
                            </button>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="institutionId" value="{$info.institutionId}">
                <input type="hidden" name="orgId" value="{$info.orgId}">
            </form>
        </div>

        <!--弹框 托管-->
        <form action="{:U('index')}" method="post"  class="form-horizontal form-label-deposit">
            <div class="modal fade row" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" style="width: 70%;">
                <div class="modal-content" style="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">托管至代理商</h4>
                    </div>
                    <div class="modal-body">
                        <div class="x_content">
                            <div class="table-responsive">
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                    <tr class="headings">
                                        <th>
                                            操作
                                        </th>
                                        <th class="column-title">代理商等级</th>
                                        <th class="column-title">代理区域</th>
                                        <th class="column-title">代理公司名称</th>
                                        <th class="column-title">代理公司地址</th>
                                    </tr>
                                    </thead>
                                    <tbody id="inst1">
                                    <tr class="pointer">
                                        <td class="a-center ">
                                            <input type="radio" class="flat" name="targetId" value="{$proAgents['agent']['agentId']}">
                                        </td>
                                        <td class=" ">
                                            <if condition="$proAgents['agent']['degree'] eq 1">
                                                一级(省)
                                                <elseif condition="$proAgents['agent']['degree'] eq 2"/>
                                                二级（市）
                                                <elseif condition="$proAgents['agent']['degree'] eq 3"/>
                                                三级(县)
                                                <else/>
                                                官方
                                            </if>代理
                                        </td>
                                        <td class=" ">{$proAgents['agent']['area']}</td>
                                        <td class=" ">{$proAgents['agent']['orgOrganization']['orgName']}</td>
                                        <td class=" ">{$proAgents['agent']['orgOrganization']['address']}</td>
                                    </tr>
                                    </tbody>
                                    <thead>
                                    <tr class="headings">
                                        <th>
                                            操作
                                        </th>
                                        <th class="column-title">机构名称</th>
                                        <th class="column-title">机构性质</th>
                                        <th class="column-title">联系电话</th>
                                        <th class="column-title">地址</th>
                                    </tr>
                                    </thead>
                                    <tbody id="inst2">
                                    <volist name="proAgents['ins']" id="ins">
                                    <tr class="<if condition='$key %2 ==0'>even<else/>odd</if> pointer">
                                        <td class="a-center ">
                                            <input type="radio" class="flat" name="targetId" value="{$ins.institutionId}">
                                        </td>
                                        <td class=" ">
                                            {$ins.orgName}
                                        </td>
                                        <td class=" ">{$ins.insType_text}</td>
                                        <td class=" ">{$ins.telephone}</td>
                                        <td class=" ">{$ins.address}</td>
                                    </tr>
                                    </volist>
                                    </tbody>
                                    <input id="hid_type" type="hidden" name="hid_type" value="0"/>
                                    <input type="hidden" name="insId" value="{$insId}"/>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger" target-form="form-label-deposit">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <!--弹框 代理商信息变更-->
        <div class="modal fade row" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" style="">
                <div class="modal-content" style="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel2">安全验证</h4>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-title text-center" id="">为了保护公司信息安全，需要通过本公司负责人手机验证码</h4><br>

                        <div class="input-group col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control">
                        <span class="input-group-btn">
                           <button type="button" class="btn btn-danger">发送验证码</button>
                        </span>
                        </div>
                        <div class="input-group col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" placeholder="输入验证码">

                        </div>
                        <div class="input-group col-lg-12 col-md-12 col-sm-12">
                            <input type="text" class="form-control" placeholder="情况说明：例如二级代理商信息变更">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" aria-label="Close" id="btnDailiShang"
                                class="btn btn-danger col-lg-12 col-md-12 col-sm-12">
                            确定
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--弹框 end-->
    </div>
    </div>
</block>

<block name="script">
    <script>
        $(function () {
            $("input,textarea").attr('disabled', true);
            $("#btnDailiShang").click(function () {
                $("#divOption").removeClass('hide');
                $("#divOption2").hide();
                $("input,textarea").attr('disabled', false);
            });
        });
        Think.setValue("insType", "{$orgInfo.orgType}");
        $(".dz-remove").click(function () {
            var pathStr = $("#imagePath").val();
            var imgId = $(this).attr("data-id");
            var imgPath = $(this).attr("data-path");
            pathStr = pathStr.replace(imgPath + ',', '');
            pathStr = pathStr.replace(imgPath, '');
            var lastChat = pathStr.substr(pathStr.length - 1, pathStr.length);
            if (lastChat == ',') {
                pathStr = pathStr.substr(0, pathStr.length - 1);
            }
            $("#imagePath").val(pathStr);
            $.ajax({
                url: "{:U('file/delPic')}" + "?imageId=" + imgId,
                type: 'GET',
                success: function (data) {
                }
            })
            $(this).parent().remove();
        });
        $('#inst1 .flat').click(function(){
            $('#hid_type').val(1);
        });
        $('#inst2 .flat').click(function(){
            $('#hid_type').val(2);
        });
    </script>
</block>