<extend name="Base/common"/>
<block name="head_script">
    <link rel="stylesheet" href="__CSS__/about.css">
</block>
<block name="body">
    <div class="hzuo">
        <!--<div class="hzuo_jmbg mtop30">-->
        <!--<div class="ft24 cl4 bold">-->
        <!--应聘联系-->
        <!--</div>-->
        <!--<div class="yplx_txt">-->
        <!--<div class="ft16 cl4 mtop40">总部地址：</div>-->
        <!--<div class="ft16 clf mtop12 pd_left16">{:C('ACCEPT_ADDRESS')}</div>-->
        <!--<div class="ft16 cl4 mtop12">联系电话：</div>-->
        <!--<div class="ft16 clf mtop12 pd_left16">{:C('ACCEPT_CONTACT_TEL')}</div>-->
        <!--</div>-->
        <!--</div>-->
        <volist name="jobList" id="job">
            <div class="hzuo_jmbg mtop40">
                <div class="ft24 cl4 bold">
                    招聘职位
                </div>
                <div class="yplx_txt">
                    <div class="ft16 cl4 mtop40">职位名称：</div>
                    <div class="ft16 clf mtop12 pd_left16">{$job.name}</div>
                </div>
                <div class="yplx_txt">
                    <div class="ft16 cl4 mtop40">岗位职责：</div>
                    {$job.duty}
                    <div class="ft16 cl4 mtop40 ">任职资格：</div>
                    {$job.qualified}
                </div>
            </div>
        </volist>
    </div>
</block>

<block name="script">
    <script src="__JS__/unslider.min.js"></script>
    <script>
        $(document).ready(function (e) {
            var unslider04 = $('#bannerall').unslider({
                        dots: true
                    }),
                    data04 = unslider04.data('unslider');
            $('.unslider-arrow04').click(function () {
                var fn = this.className.split(' ')[1];
                data04[fn]();
            });
        });
    </script>
</block>

