<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{$title}</title>
    <link rel="stylesheet" href="__CSS__/index.css">
    <block name="head_script"></block>
</head>

<body>
<div class="top" id="top">
    <div class="top_text ">
        <div class="logo " style="">
            <img src="__IMG__/index/logo.png">
        </div>
        <div class="new_nav" style="">
            <div class="nav_max" style="">
                <a href="{:U('Index/index')}">
                    <div class="nav_list1">首页s</div>
                </a>
            </div>
            <div class="nav_max1" style="">
                <div class="nav_lists">
                    <!--<a href="{:U('Product/index')}">-->
                    <div class="nav_list1" style="">产品介绍</div>
                    <!--</a>-->
                </div>
                <!--二级菜单-->
                <div class="nav_list_min" style="">
                    <volist name="navProductList" id="list">
                        <a href="{:U('Product/index?name='.$list['name'])}">
                            <div class="nav_list_sm" style="">{$list.title}</div>
                        </a>
                    </volist>
                </div>
            </div>
            <div class="nav_max1" style="">
                <div class="nav_lists">
                    <!--<a href="{:U('Solution/index')}">-->
                    <div class="nav_list1" style="">解决方案</div>
                    <!--</a>-->
                </div>
                <div class="nav_list_min" style="">
                    <volist name="navSoulationList" id="s">
                        <a href="{:U('Solution/index?name='.$s['name'])}">
                            <div class="nav_list_sm" style="">{$s.title}</div>
                        </a>
                    </volist>
                </div>
            </div>
            <div class="nav_max1" style="">
                <a href="{:U('Partner/index')}">
                    <div class="nav_list1" style="">合作共赢</div>
                </a>
            </div>
            <div class="nav_max1" style="">
                <a href="{:U('About/index')}">
                    <div class="nav_list1" style="">关于我们</div>
                </a>
            </div>
            <div class="nav_max1" style="">
                <a href="{:U('Adverties/index')}">
                    <div class="nav_list1" style="">招贤纳士</div>
                </a>
            </div>
        </div>
        <div class="nav" style="margin-top: 20px; z-index: 30000; position: relative;">
        </div>
    </div>
</div>
<block name="body"></block>
<block name="foot">
    <div class="foot">
        <div class="foot_text">
            <div class="callus_tit" style="">
                联系我们
            </div>
            <div class="callus_txt">
                地址：{$contact.address}
            </div>
            <div class="callus_txt">
                电话：{$contact.tel}
            </div>
            <div class="callus_txt">
                手机：{$contact.mobile}
            </div>
            <div class="callus_txt">
                联系人：{$contact.contact_person}
            </div>

            <div class="erweima1" style="">
                <img width="121" height="121" src="__IMG__/xdy.jpg">
                <div class="mtop20 ">
                    官方微信公众号
                </div>
            </div>
            <div class="erweima2" style="">
                <img width="121" height="121" src="__IMG__/weibo.png">
                <div class="mtop20 ">
                    官方微博
                </div>
            </div>
        </div>
    </div>
    <div class="xfk">
        <div class="wh58 qq">
            <div class="qq3">
                <div class="weixin_text" style="padding: 1px;">
                    <img style="" src="__IMG__/qq.png">
                </div>
            </div>
        </div>
        <div class="wh58 weixin">
            <div class="erweima3">
                <div class="weixin_text" style="padding: 1px;">
                    <img style="" src="__IMG__/dingyue.jpg">
                    <div style="line-height: 100%;margin-top: 5px;">扫描关注微信公众号</div>
                </div>
            </div>
        </div>
        <div class="wh58 phone">
            <div class="phone_text" style="">
                客服热线<br/>
                400 036 1945
            </div>
        </div>
        <a href="#top">
            <div class="wh58 gotop"></div>
        </a>
    </div>
    <div class="footer">
        <div class="footer_text">
            <span style="">沪ICP备14023054号</span>
            <!--<span class="flt_r" style="">官方微信公众号：星途科技</span>-->
        </div>
    </div>
</block>
<script src="__JS__/jquery-1.9.1.min.js"></script>
<script src="__JS__/star_vr.js"></script>
<script src="__JS__/unslider.min.js"></script>
<script type="text/javascript">
    var currentNav = "{:U()}";
    $('.new_nav').find('a').find('div').removeClass('tachs');
    $('.new_nav').find("a[href='" + currentNav + "']").find('div').addClass('tachs');

    $(".phone").hover(function () {
        $(".phone_text").show();
    }, function () {
        $(".phone_text").hide();
    });
    $(".weixin").hover(function () {
        $(".erweima3").show();
    }, function () {
        $(".erweima3").hide();
    });

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?96a4cb67733b5a72f896a83d13d383f9";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();


</script>
<block name="script"></block>
</body>
</html>