<extend name="Public/base"/>
<block name="body">
    <div class="container body">
        <div class="main_container">
            <!--content pages-->
            <div class="right_col" role="main">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="page-title">
                            <div class="title_left" style="width: 45%;">
                                <h3>老人基础档案</h3>
                            </div>
                            <div class="title_right">
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                    <div class="input-group">
                                        <input type="text" id="key" value="{$name}" class="form-control"
                                               placeholder="请输入用户姓名">
                                    <span class="input-group-btn">
                      <a class="clf btn btn-danger" id="search" url="{:U('basicfile')}" style="color: #fff;">查询</a>
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x_title"></div>
                        <div class="row col-md-6 col-sm-6 col-xs-12">
                            <a href="newadd.html">
                                <button class="btn btn-sm btn-danger">新建老人档案</button>
                            </a>
                            <button class="btn btn-default  btn-group-sm">批量导入</button>
                            <button class="btn btn-default  btn-group-sm">导出数据</button>
                        </div>

                        <div class="x_content">
                            <div class=""></div>

                            <div class="table-responsive">

                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                    <tr class="headings">
                                        <th>
                                        </th>
                                        <th class="column-title">姓名</th>
                                        <th class="column-title">老人编号</th>
                                        <th class="column-title">年龄</th>
                                        <th class="column-title">性别</th>
                                        <th class="column-title">联系方式</th>
                                        <th class="column-title">居住地址</th>
                                        <th class="column-title no-link last"><span class="nobr">居住情况</span></th>
                                        <th class="column-title">经济来源</th>
                                        <th class="column-title">设备号</th>
                                        <th class="column-title">所属代理/机构</th>
                                        <th class="column-title">登记时间</th>
                                        <th class="column-title">操作</th>
                                    </tr>
                                    </thead>
                                    <volist name="list" id="l">
                                        <a href="#">
                                            <tr class="even pointer">
                                                <td class="a-center ">
                                                </td>
                                                <td class="">{$l.name}</td>
                                                <td class=" ">{$l.peopleIdentifier}</td>
                                                <td class=" ">{$l.age}</td>
                                                <td class=" ">{$l.gender_text}</td>
                                                <td class=" ">{$l.telephone}</td>
                                                <td class="a-right a-right ">{$l.adress}</td>
                                                <td class=" ">{$l.livingStatus_text}</td>
                                                <td class=" ">{$l.economy_text}</td>
                                                <td class=" ">{$l.device_str}</td>
                                                <td class=" ">{$l.orgName}</td>
                                                <td class="last">{:time_format($l['createTime']/1000,'Y-m-d')}</td>
                                                <td class="last"><a href="{:U('newadd',['id'=>$l['peopleId']])}">编辑</a></td>
                                            </tr>
                                        </a>
                                    </volist>
                                </table>
                                {$_page}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script>
        $("#search").click(function () {
            var url = $(this).attr("url");
            var key = $("#key").val();
            location.href = url + "?name=" + key;
        })
    </script>
</block>
