<extend name="Public/base"/>
<block name="body">
    <div class="container body">
        <div class="main_container">
            <!--content pages-->
            <div class="right_col" role="main">
                <div class="col-md-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>老人基本资料</h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content row">
                            <br/>

                            <form action="{:U('write')}" method="post" class="form-horizontal form-label-left">
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">老人姓名:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" name="pel_name" value="{$peopleBasic.name}"
                                                   class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">性别:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <select name="gender" class="form-control">
                                                <option value="1">男</option>
                                                <option value="0">女</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">编号:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" value="{$peopleBasic.peopleIdentifier}"
                                                   name="peopleIdentifier" class="form-control"
                                                   placeholder="">
                                        </div>
                                    </div>


                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">身份证:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" value="{$peopleBasic.idNumber}" name="idNumber"
                                                   class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">年龄:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" value="{$peopleBasic.age}" name="age"
                                                   class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">电话:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" value="{$peopleBasic.telephone}" name="tele_phone"
                                                   class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">籍贯:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div id="distpicker2" class="">
                                                <input type="text" value="{$peopleBasic.nativePlace}" name="nativePlace"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">民族:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <select id="ppl_ethnic_create" class="form-control" name="ethnicity">
                                                <volist name="ethnicity" id="e">
                                                    <option value="{$key}">{$e}</option>
                                                </volist>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">学历:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div class="">
                                                <select name="education" class="form-control">
                                                    <volist name="education" id="e">
                                                        <option value="{$key}">{$e}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">经济来源:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div class="">
                                                <select name="economy" class="form-control">
                                                    <volist name="economy" id="e">
                                                        <option value="{$key}">{$e}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">居住情况:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div class="">
                                                <select name="livingStatus" class="form-control">
                                                    <volist name="livingStatus" id="l">
                                                        <option value="{$key}">{$l}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">健康状况:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div class="">
                                                <select name="healthStatus" class="form-control">
                                                    <volist name="healthStatus" id="h">
                                                        <option value="{$key}">{$h}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">居住住址:</label>

                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <div class="">
                                                <input type="text" value="{$peopleBasic.adress}" name="pel_adress"
                                                       class="form-control"
                                                       placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                            备注:
                                        </label>

                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <textarea class="form-control" name="remark" rows="3"
                                                      placeholder='备注在2000字以内'>{$peopleDetail.remark}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <img id="head_img" src="{$impage.imagePath|default='__IMG__/user.png'}">
                                    <input type="hidden" ignore="1" name="imageId" value="{$impage.imageId}">
                                    <input type="hidden" ignore="1" name="imagePath" value="{$impage.imagePath}">

                                    <div>
                                        <br>
                                        <button class="btn btn-danger btn-sm col-lg-6 col-md-6 col-sm-6">
                                            点击替换
                                        </button>
                                        <input class="btn btn-danger btn-sm col-lg-6 col-md-6 col-sm-6" id="image"
                                               style="opacity:0; margin-top: -40px;position: relative;" type="file">
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_title">
                                        <br><br>

                                        <h2>兴趣爱好</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 border-bottom">
                                        <volist name="hobby" id="l">
                                            <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                                <label>
                                                    <input type="checkbox" value="{$key}" {$l.checked} class="flat"
                                                           name="hobby[]">
                                                    {$l.name}
                                                </label>
                                            </div>
                                        </volist>
                                        <div class="checkbox col-md-12 col-sm-12 col-xs-12">
                                            <br>
                                            <label>
                                                <input type="text" name="hobbyOtherDesc"
                                                       value="{$peopleDetail.hobbyOtherDesc}" class="flat form-control"
                                                       placeholder="其他">
                                            </label>
                                        </div>
                                    </div>

                                    <div class="x_title clear">
                                        <br>
                                        <br>

                                        <h2>亲属资料</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel clear">
                                            <div class="x_content">
                                                <table class="table table-bordered text-center table-hover">
                                                    <thead class="bg-info ">
                                                    <tr>
                                                        <th class="text-center">亲属姓名</th>
                                                        <th class="text-center">手机</th>
                                                        <th class="text-center">与老人关系</th>
                                                        <th class="text-center">现居地</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="tab1">
                                                    <volist name="peopleRelativeList" id="r">
                                                        <tr>
                                                            <input type="hidden" ignore="1" name="relativeId[]"
                                                                   value="{$r.relativeId}">
                                                            <td><input type="text" name="name[]"
                                                                       class="flat form-control"
                                                                       value="{$r.name}"
                                                                       placeholder=""></td>
                                                            <td><input type="text" class="flat form-control"
                                                                       name="telephone[]" value="{$r.telephone}"
                                                                       placeholder=""></td>
                                                            <td><input type="text" name="relation[]"
                                                                       class="flat form-control" value="{$r.relation}"
                                                                       placeholder=""></td>
                                                            <td><input type="text" name="address[]"
                                                                       class="flat form-control"
                                                                       value="{$r.address}"
                                                                       placeholder=""></td>
                                                        </tr>
                                                    </volist>
                                                    </tbody>
                                                </table>
                                                <button type="button" class="btn btn-sm btn-danger pull-right new_add">
                                                    新增亲属
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="x_title clear">
                                        <br>
                                        <br>

                                        <h2>想家宝信息</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel clear">
                                            <div class="x_content">
                                                <table class="table table-bordered text-center table-hover">
                                                    <thead class="bg-info ">
                                                    <tr>
                                                        <if condition="!empty($peopleBasic['peopleId'])">
                                                            <th class="text-center">设备ID</th>
                                                        </if>
                                                        <th class="text-center">名称</th>
                                                        <th class="text-center">设备编号</th>
                                                        <th class="text-center">安装日期</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="tab2">
                                                    <volist name="peopleDeviceList" id="d">
                                                        <tr>
                                                            <if condition="!empty($peopleBasic['peopleId'])">
                                                                <td><input type="text" name="peopleDeviceId[]"
                                                                           class="flat form-control"
                                                                           value="{$d.peopleDeviceId}"></td>
                                                            </if>
                                                            <td><input type="text" name="deviceName[]"
                                                                       class="flat form-control"
                                                                       value="{$d.deviceName}"></td>
                                                            <td><input type="text" name="deviceIdentifier[]"
                                                                       class="flat form-control"
                                                                       value="{$d.deviceIdentifier}"></td>
                                                            <td>
                                                                <input type="text" name="deviceInstallDate[]"
                                                                       class="form-control has-feedback-left"
                                                                       value="{:time_format($d['createTime']/1000,'Y-m-d')}"
                                                                       placeholder="First Name"
                                                                       aria-describedby="inputSuccess2Status">
                                                            </td>
                                                        </tr>
                                                    </volist>
                                                    </tbody>
                                                </table>
                                                <button type="button" class="btn btn-sm btn-danger pull-right new_add2">
                                                    新增设备
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="x_title clear">
                                        <br>
                                        <br>

                                        <h2>操作</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-bottom">
                                        <br>
                                        <input type="hidden" ignore="1" value="{$peopleBasic.peopleId}" name="peopleId">
                                        <input type="hidden" ignore="1" value="{$peopleDetail.peopleDetailId}"
                                               name="peopleDetailId">
                                        <button type="button" class="btn btn-danger ajax-post"
                                                target-form="form-label-left">保存
                                        </button>
                                        <button class="btn btn-lg btn-danger"
                                                onclick="javascript:history.back(-1);return false;">关闭页面
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        Think.setValue('gender', {$peopleBasic.gender});
        Think.setValue('ethnicity', {$peopleBasic.ethnicity});
        Think.setValue('education', {$peopleBasic.education});
        Think.setValue('economy', {$peopleBasic.economy});
        Think.setValue('healthStatus', {$peopleBasic.healthStatus});
        $(function () {
            $(".has-feedback-left").daterangepicker({singleDatePicker: !0,
                singleClasses: "picker_4",
                locale: {format: 'YYYY-MM-DD'}},function (a, b, c) {
                console.log(a.toISOString(), b.toISOString(), c)
            });
            Page.init();
        });
        $(".new_add").click(function () {
            $(".tab1").append('<tr><td>  <input type="hidden" ignore="1" name="relativeId[]">' +
                    '<input type="text" name="name[]" class="flat form-control"  value="" placeholder=""></td>' +
                    '<td><input type="text" name="telephone[]" class="flat form-control"  value="" placeholder=""></td>' +
                    '<td><input type="text" name="relation[]" class="flat form-control"  value="" placeholder=""></td>' +
                    '<td><input type="text" name="address[]" class="flat form-control"  value="" placeholder=""></td>' +
                    '</tr>');
            return false;
        });
        $(".new_add2").click(function () {
            $(".tab2").append('<tr>' +
                    '<if condition="!empty($peopleBasic['peopleId'])"><td><input type="text" name="peopleDeviceId[]" disabled="disabled" ignore="1" class="flat form-control"  value="" placeholder=""></td></if>' +
                    '<td><input type="text" name="deviceName[]" class="flat form-control"  value="" placeholder=""></td>' +
                    '<td><input type="text" name="deviceIdentifier[]" class="flat form-control"  value="" placeholder=""></td>' +
                    '<td><input type="text" name="deviceInstallDate[]" class="form-control has-feedback-left"  value="" placeholder=""></td>' +
                    '</tr>');
            $(".has-feedback-left").daterangepicker({singleDatePicker: !0,
                singleClasses: "picker_4",
                locale: {format: 'YYYY-MM-DD'}},function (a, b, c) {
                console.log(a.toISOString(), b.toISOString(), c)
            });
            return false;
        });
        $("#image").on('change', function () {
            var formData = new FormData();
            formData.append('file', $("#image")[0].files[0]);
            $.ajax({
                url: "{:U('file/upload')}",
                type: 'POST',
                cache: false,
                data: formData,
                processData: false,
                contentType: false
            }).done(function (res) {
                $("input[name='imagePath']").val(res);
                $("#head_img").attr('src', res);
            }).fail(function (res) {
            });
        });
    </script>
</block>
