<extend name="Public/base"/>
<block name="body">
    <div class="container body">
        <div class="main_container">
            <!--content pages-->
            <div class="right_col" role="main">
                <div class="col-md-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>老人基本资料</h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content row">
                            <br/>
                            <form action="{:U('write')}" method="post" class="form-horizontal form-label-left">
                                <input name="orgId" type="hidden" value="{$orgId}"/>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">老人姓名:</label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" name="pel_name" value="{$peopleBasic.name}"
                                                   class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">性别:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <select name="gender" class="form-control">
                                                <option value="0">男</option>
                                                <option value="1">女</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">编号:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" value="{$peopleBasic.peopleIdentifier|default=$identifier}"
                                                   name="peopleIdentifier" class="form-control" nored="1"
                                                   placeholder="">
                                        </div>
                                    </div>


                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">身份证:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" value="{$peopleBasic.idNumber}" name="idNumber"
                                                   class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">年龄:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" value="{$peopleBasic.age}" name="age"
                                                   class="form-control" placeholder="" nored="1">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">所属机构:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input id="basicOrg" type="text" value="{$peopleBasic.orgName|default=$orgName}"
                                                   class="form-control" placeholder="" nored="1">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">电话:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" value="{$peopleBasic.telephone}" name="tele_phone"
                                                   class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">籍贯:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div id="distpicker2" class="">
                                                <input type="text" value="{$peopleBasic.nativePlace}" name="nativePlace" nored="1"  class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">民族:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <select id="ppl_ethnic_create" class="form-control" name="ethnicity">
                                                <option value="-1">请选择</option>
                                                <volist name="ethnicity" id="e">
                                                    <option value="{$key}">{$e}</option>
                                                </volist>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">学历:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div class="">
                                                <select name="education" class="form-control">
                                                    <option value="-1">请选择</option>
                                                    <volist name="education" id="e">
                                                        <option value="{$key}">{$e}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">经济来源:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div class="">
                                                <select name="economy" class="form-control">
                                                    <option value="-1">请选择</option>
                                                    <volist name="economy" id="e">
                                                        <option value="{$key}">{$e}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">居住情况:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div class="">
                                                <select name="livingStatus" class="form-control">
                                                    <option value="-1">请选择</option>
                                                    <volist name="livingStatus" id="l">
                                                        <option value="{$key}">{$l}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">健康状况:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div class="">
                                                <select name="healthStatus" class="form-control">
                                                    <option value="-1">请选择</option>
                                                    <volist name="healthStatus" id="h">
                                                        <option value="{$key}">{$h}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">居住住址:</label>

                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <div class="">
                                                <input type="text" value="{$peopleBasic.adress}" name="pel_adress"
                                                       class="form-control"
                                                       placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                            备注:
                                        </label>

                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <textarea class="form-control" name="remark" rows="3"
                                                      placeholder='备注在2000字以内'>{$peopleDetail.remark}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <img id="head_img" src="{$impage.imagePath|default='__IMG__/user.png'}">
                                    <input type="hidden" ignore="1" name="imageId" value="{$impage.imageId}">
                                    <input type="hidden" ignore="1" name="imagePath" value="{$impage.imagePath}">

                                    <div>
                                        <br>
                                        <button class="btn btn-danger btn-sm col-lg-6 col-md-6 col-sm-6">
                                            点击替换
                                        </button>
                                        <input class="btn btn-danger btn-sm col-lg-6 col-md-6 col-sm-6" id="image"
                                               style="opacity:0; margin-top: -40px;position: relative;" type="file">
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_title">
                                        <br><br>

                                        <h2>兴趣爱好</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 border-bottom">
                                        <volist name="hobby" id="l">
                                            <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                                <label>
                                                    <input type="checkbox" value="{$key}" {$l.checked} class="flat"
                                                           name="hobby[]">
                                                    {$l.name}
                                                </label>
                                            </div>
                                        </volist>
                                        <div class="checkbox col-md-12 col-sm-12 col-xs-12">
                                            <br>
                                            <label>
                                                <input type="text" name="hobbyOtherDesc"
                                                       value="{$peopleDetail.hobbyOtherDesc}" class="flat form-control"
                                                       placeholder="其他" nored="1">
                                            </label>
                                        </div>
                                    </div>

                                    <div class="x_title clear">
                                        <br>
                                        <br>

                                        <h2>亲属资料</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel clear">
                                            <div class="x_content">
                                                <table class="table table-bordered text-center table-hover">
                                                    <thead class="bg-info ">
                                                    <tr>
                                                        <th class="text-center">亲属姓名</th>
                                                        <th class="text-center">手机</th>
                                                        <th class="text-center">与老人关系</th>
                                                        <th class="text-center">现居地</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="tab1">
                                                    <volist name="peopleRelativeList" id="r">
                                                        <tr>
                                                            <input type="hidden" ignore="1" name="relativeId[]"
                                                                   value="{$r.relativeId}">
                                                            <td><input type="text" name="name[]"
                                                                       class="flat form-control"
                                                                       value="{$r.name}"
                                                                       placeholder="" nored="1"></td>
                                                            <td><input type="text" class="flat form-control"
                                                                       name="telephone[]" value="{$r.telephone}"
                                                                       placeholder="" nored="1"></td>
                                                            <td><input type="text" name="relation[]"
                                                                       class="flat form-control" value="{$r.relation}"
                                                                       placeholder="" nored="1"></td>
                                                            <td><input type="text" name="address[]"
                                                                       class="flat form-control"
                                                                       value="{$r.address}"
                                                                       placeholder="" nored="1"></td>
                                                        </tr>
                                                    </volist>
                                                    </tbody>
                                                </table>
                                                <button type="button" class="btn btn-sm btn-danger pull-right new_del2">删除亲属</button>
                                                <button type="button" class="btn btn-sm btn-danger pull-right new_add">
                                                    新增亲属
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="x_title clear">
                                        <br>
                                        <br>

                                        <h2>想家宝信息</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel clear">
                                            <div class="x_content">
                                                <table class="table table-bordered text-center table-hover">
                                                    <thead class="bg-info ">
                                                    <tr>
                                                        <if condition="!empty($peopleBasic['peopleId'])">
                                                            <th class="text-center">设备ID</th>
                                                        </if>
                                                        <th class="text-center">名称</th>
                                                        <th class="text-center">设备编号</th>
                                                        <th class="text-center">安装日期</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="tab2">
                                                    <volist name="peopleDeviceList" id="d">
                                                        <tr>
                                                            <if condition="!empty($peopleBasic['peopleId'])">
                                                                <td><input type="text" name="peopleDeviceId[]"
                                                                           class="flat form-control"
                                                                           readonly="readonly"
                                                                           value="{$d.peopleDeviceId}" nored="1"></td>
                                                            </if>
                                                            <td><input type="text" name="deviceName[]"
                                                                       class="flat form-control"
                                                                       value="{$d.deviceName}" nored="1"></td>
                                                            <td><input type="text" name="deviceIdentifier[]"
                                                                       class="flat form-control"
                                                                       value="{$d.deviceIdentifier}" nored="1"></td>
                                                            <td>
                                                                <input type="text" name="deviceInstallDate[]"
                                                                       class="form-control has-feedback-left"
                                                                       value="{:time_format($d['createTime']/1000,'Y-m-d')}"
                                                                       placeholder="First Name"
                                                                       aria-describedby="inputSuccess2Status" nored='1'>
                                                            </td>
                                                        </tr>
                                                    </volist>
                                                    </tbody>
                                                </table>
                                                <button type="button" class="btn btn-sm btn-danger pull-right new_del2">删除设备</button>
                                                <button type="button" class="btn btn-sm btn-danger pull-right new_add2">
                                                    新增设备
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="x_title clear">
                                        <br>
                                        <br>

                                        <h2>操作</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-bottom">
                                        <br>
                                        <input type="hidden" ignore="1" value="{$peopleBasic.peopleId}" name="peopleId">
                                        <input type="hidden" ignore="1" value="{$peopleDetail.peopleDetailId}"
                                               name="peopleDetailId">
                                        <button type="button" id="editdangan" notdis="1" class="btn btn-danger btn-sm ">编辑档案
                                        </button>
                                        <if condition="$userType eq 3">
                                        <button type="button" id="videoBtn" notdis="1" class="btn btn-danger btn-sm ">视频呼叫
                                        </button>
                                        <button type="button" id="printBtn" notdis="1" class="btn btn-danger btn-sm ">打印
                                        </button>
                                        </if>
                                        <button type="submit" class="btn btn-danger btn-sm ajax-post "
                                                target-form="form-label-left">保存
                                        </button>
                                        <button notdis="1" id="backBtn" class="btn btn-lg btn-danger btn-sm"
                                                >返回
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        Think.setValue('gender', {$peopleBasic.gender|default= '1'});
        Think.setValue('ethnicity', {$peopleBasic.ethnicity|default= '-1'});
        Think.setValue('education', {$peopleBasic.education|default= '-1'});
        Think.setValue('economy', {$peopleBasic.economy|default= '-1'});
        Think.setValue('healthStatus', {$peopleBasic.healthStatus|default= '-1'});
        Think.setValue('livingStatus', {$peopleBasic.livingStatus|default= '-1'});
        $(function () {
            Page.init();
        });

        $(".new_add").click(function () {
            var c = 1;
            $(this).siblings("table").find("td").each(function () {
                var a = $(this).children("input").val();
                if (a != '') {
                } else {
                    c = 0;
                }
            });
            if (c != 0) {
                $(".tab1").append('<tr><td>' +
                        '<input type="text" name="name[]" class="flat form-control"  value="" placeholder=""></td>' +
                        '<td><input type="text" name="telephone[]" class="flat form-control"  datatype="mb" nullmsg="此项不能为空" errormsg="手机号码格式不正确"  value="" placeholder=""></td>' +
                        '<td><input type="text" name="relation[]" class="flat form-control"  value="" placeholder=""></td>' +
                        '<td><input type="text" name="address[]" class="flat form-control"  value="" placeholder=""></td>' +
                        '</tr>');
            } else {
                dialog('1',"亲属信息不能为空","");
            }
            return false;
        });

        $(".new_add2").click(function () {
                var c = 1;
                $(this).siblings("table").find("td").each(function () {
                    var a = $(this).children("input").val();
                    if (a != '') {
                    } else {
                        c = 0;
                    }
                });
                if (c != 0) {
                    $(".tab2").append('<tr>' +
                            '<if condition="!empty($peopleBasic['peopleId'])"><td><input type="text" name="peopleDeviceId[]" disabled="disabled" ignore="1" class="flat form-control"  value="设备ID为系统自动分配" placeholder=""></td></if>' +
                    '<td><input type="text" name="deviceName[]" class="flat form-control" datatype="*" errmsg="设备名称不能为空" nullmsg="设备名称不能为空"  value="" placeholder=""></td>' +
                    '<td><input type="text" name="deviceIdentifier[]" class="flat form-control" datatype="*" errmsg="设备编号不能为空" nullmsg="设备编号不能为空"  value="" placeholder=""></td>' +
                    '<td><input type="text" name="deviceInstallDate[]" class="form-control has-feedback-left"  value="" placeholder=""></td>' +
                    '</tr>'
                );
                    $(".has-feedback-left").daterangepicker({
                        singleDatePicker: !0,
                        singleClasses: "picker_4",
                        locale: {format: 'YYYY-MM-DD'}
                    }, function (a, b, c) {
                        console.log(a.toISOString(), b.toISOString(), c)
                    });
                } else {
                    dialog(1,"设备信息不能为空","");
                }
                return false;
            });
            $("#image").on('change', function () {
                var formData = new FormData();
                formData.append('file', $("#image")[0].files[0]);
                $.ajax({
                    url: "{:U('file/upload')}",
                    type: 'POST',
                    cache: false,
                    data: formData,
                    processData: false,
                    contentType: false
                }).done(function (res) {
                    $("input[name='imagePath']").val(res);
                    $("#head_img").attr('src', res);
                }).fail(function (res) {
                });
            });

        $(".new_del2").click(function () {
            var long=$(this).prev("table").find("tr").length;
            if(long>1){
                $(this).prev("table").find("tr").last().remove();
            }
        });
        $('input[name="idNumber"]').blur(function(){
            if($(this).val()==''){
                $('input[name="age"]').val('');
                return;
            }
            if($(this).val().length != 15 && $(this).val().length != 18){
                $('input[name="age"]').val('');
                return;
            }
            var myDate = new Date();
            var month = myDate.getMonth() + 1;
            var day = myDate.getDate();
            var idNum = $('input[name="idNumber"]').val();
            if($(this).val().length == 18){
                var age = myDate.getFullYear() - idNum.substring(6, 10) - 1;
                if (idNum.substring(10, 12) < month || idNum.substring(10, 12) == month && idNum.substring(12, 14) <= day) {
                    age++;
                }
            }
            else if($(this).val().length == 15){
                var age = myDate.getFullYear() - parseInt('19'+idNum.substring(6, 8));
                if (idNum.substring(8,10) < month || idNum.substring(8, 10) == month && idNum.substring(10, 12) <= day) {
                    age++;
                }
            }
            $('input[name="age"]').val(age);
        });
        if($('input[name="peopleId"]').val()!='')
        {
            $('input,select,textarea,button').each(function (index)
            {
                if(!$(this).isDisabled&&$(this).attr("notdis")!='1')
                {
                    $(this).attr("Disabled","Disabled");
                    $(this).attr("useredit","1");
                }
            })
        }else{
            $("#editdangan,#printBtn,#videoBtn").remove();
        }
        $("#editdangan").click(function(){
            $('input,select,textarea,button').each(function(index){
                if($(this).attr("useredit")=="1")
                {
                    $(this).removeAttr('Disabled');
                    $(this).removeAttr('useredit');
                }
            });
            $("#editdangan,#printBtn,#videoBtn").remove()
        })
        $("#backBtn").click(function(){
            var nid=$('input[name="peopleId"]').val();
            if(nid==1 && $("#editdangan").html()==undefined)
            {
                location.reload()
            }else{
                history.back(-1);return false;
            }

        })

    </script>
</block>
