<extend name="Public/base"/>
<block name="style">
    <style>
        .unbindclick{
            pointer-events:none;
        }
    </style>
</block>
<block name="body">
    <form action="{:U('Agent/addAgent')}" method="post" class="form-horizontal form-label-left">
        <div class="right_col" role="main">
            <input type="hidden" name="agentId" value="{$info.agentId}"/>
            <input type="hidden" name="orgId" value="{$info.orgId}"/>
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>代理商信息</h2>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content row">
                        <br/>
                        <div id="f1">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">代理商名称:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input value="{$info['orgOrganization']['orgName']}" name="orgName" type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">代理商等级:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="hidden" value="{$info['degree']}" name="degree" />
                                        <select  class="form-control unbindclick" id="degree" value="{$info.degree}">
                                            <option value="-1">请选择</option>
                                            <option
                                            <?php if($info['degree'] == 0)echo 'selected';?> value="0">总代理</option>
                                            <option
                                            <?php if($info['degree'] == 1)echo 'selected';?> value="1">一级代理商</option>
                                            <option
                                            <?php if($info['degree'] == 2)echo 'selected';?> value="2">二级代理商</option>
                                            <option
                                            <?php if($info['degree'] == 3)echo 'selected';?> value="3">三级代理商</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">代理区域:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div id="distpicker2" class="">
                                            <!--省-->
                                            <select value="{$info.provinceId}" name="provinceId" class="data-province form-control unbindclick"></select>
                                            <input type="hidden" id="hid_p" value="{$info.provinceId}"/>
                                            <!--市-->
                                            <select value="{$info.cityId}"  name="cityId" class="data-city form-control unbindclick"></select>
                                            <input  type="hidden" id="hid_c" value="{$info.cityId}"/>
                                            <!--县-->
                                            <select value="{$info.countyId}"  name="countyId" class="data-district form-control unbindclick"></select>
                                            <input  type="hidden" id="hid_co" value="{$info.countyId}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">代理商登录ID:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input id="logId" type="text" class="form-control" value="{$manageInfo['orgOrganization']['userName']}" >
                                    </div>
                                </div>

                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">公司电话:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input name="telephone" value="{$info['orgOrganization']['telephone']}" type="text" class="form-control"  placeholder="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">公司组织机构:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input name="orgCode" value="{$info['orgOrganization']['orgCode']}" type="text" class="form-control"  placeholder="">
                                    </div>
                                </div>

                                <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">公司地址:</label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <div class="">
                                            <input name="address" value="{$info['orgOrganization']['address']}" type="text" class="form-control"  placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">允许发展下级代理:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="hidden" id="hid_extend" value="{$info.extendFlag}" />
                                        <select class="form-control unbindclick" name="extendFlag">
                                            <option value="0">否</option>
                                            <option value="1">是</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        公司介绍/备注:
                                    </label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <textarea  name="remark" class="form-control" rows="3" placeholder='备注在2000字以内'>{$info['orgOrganization']['remark']}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <volist name="manageInfo['orgOrganization']['contactList']" id="contact">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>
                                <if condition="$key eq 0">管理人员
                                    <else/>
                                    负责人
                                </if>
                                基本信息
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content row">
                            <br/>
                            <div id="f2">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">管理人姓名:</label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input value="{$contact.name}" name="name[]" type="text" class="form-control"  placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">手机号码:</label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input value="{$contact.mobile}" name="mobile[]" type="text" class="form-control"  placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">身份证号:</label>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <div class="">
                                                <input value="{$contact.idNo}" name="idNo[]" type="text" class="form-control"  placeholder="">
                                            </div>
                                            <input type="hidden" name="contactId[]" value="{$contact.contactId}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </volist>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>公司证件</h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div action="#" class="dropzone unbindclick">
                                <volist name="imgList" id="img">
                                    <div class="dz-preview dz-processing dz-image-preview dz-success dz-complete">
                                        <div class="dz-image">
                                            <img style="width:120px;height:120px;max-width: 100%;" data-dz-thumbnail="" alt="{$img.displayName}"
                                                 src="{$img.imagePath}">
                                        </div>
                                        <a class="dz-remove" data-path="{$img.imagePath}"
                                           data-id="{$img.imageId}" href="javascript:undefined;"
                                           data-dz-remove="">删除</a></div>
                                </volist>
                            </div>
                            <input type="hidden" id="imagePath" value="{$imgPathStr}" name="imagePath">
                            <input type="hidden" value="{$imgIdStr}" name="imgIdStr">
                        </div>
                        <div id="divOption1">
                            <!--变更页面显示-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " >
                                <button type="button" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#myModal2">编辑
                                </button>
                            </div>
                        </div>
                        <div id="divOption2">
                            <!--详情页面显示-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " >
                                <br>
                                <button class="btn btn-lg btn-danger ajax-post" type="submit" target-form="form-label-left">保存</button>
                                <button type="button" class="btn btn-lg btn-danger" data-toggle="modal"
                                        data-target="#myModal">修改密码
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--设备选择-->
            <div class="x_panel">
                <div id="f4" class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="x_title">
                        <h2>设备选择</h2>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 border-bottom">
                        <br>
                        <input  id="device" type="hidden" value="{$manageInfo['orgOrganization']['orgDevice']['deviceType']}"/>
                        <volist name="device_type" id="d">
                            <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                <label>
                                    <input type="checkbox" value="{$key}" name="deviceType[]" class="flat"> {$d}
                                </label>
                            </div>
                        </volist>
                        <div class="checkbox col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;">
                        <br>
                        <label>设备数量</label>
                        <label>
                        <input type="text" class="flat form-control" placeholder="设备数量" value="{$manageInfo['orgOrganization']['orgDevice']['quantity']}">
                        </label>
                        </div>
                    </div>
                </div>
            </div>
            <!--代理权限设置-->
            <div class="x_panel">
                <div id="f5" class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="x_title">
                        <h2>代理权限设置</h2>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 border-bottom">
                        <br>
                        <volist name="moduleList" id="moduleList">
                            <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                <label>
                                    <input value="$moduleList['module']['id']" checked onclick="return false" type="checkbox" class="flat">
                                    {$moduleList['module']['moduleName']}
                                </label>
                            </div>
                        </volist>
                    </div>
                </div>
            </div>
        </div>
    </form>
        <input type="hidden" name="agentId" value="{$agentId}"/>
    <!--弹框 修改密码-->
    <div class="modal fade row" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 50%;">
            <form method="post" action="{:U('Public/changePassword')}">
                <div class="modal-content" style="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                    </div>
                    <div class="modal-body" style="height: 260px;">
                        <div class="x_content">
                            <div class="form-group col-lg-10 col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">原始密码:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input id="oldpwd" type="hidden" value="{$uinfo.password}">
                                    <input type="password" name="oldpassword" class="form-control"
                                           placeholder="">
                                </div>
                            </div>
                            <div class="form-group col-lg-10 col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">重置密码:</label>

                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="password" name="userpassword" ignore="1" datatype="n6-11"
                                           errormsg="密码范围是在6~11位之间的数字！" plugin="passwordStrength"
                                           class="form-control" placeholder="">
                                </div>
                            </div>

                            <div class="form-group col-lg-10 col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">确认密码:</label>

                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="password" name="repassword" recheck="userpassword"
                                           errormsg="您两次输入的账号密码不一致！" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--弹框 代理商信息变更-->
    <div class="modal fade row" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="">
            <div class="modal-content" style="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">安全验证</h4>
                </div>
                <div class="modal-body">
                    <h4 class="modal-title text-center" id="">为了保护公司信息安全，需要通过本公司负责人手机验证码</h4><br>
                    <div class="input-group col-lg-12 col-md-12 col-sm-12">
                        <input name="mobile" id="mobile" type="text" class="form-control">
                        <div style="height: 50px;" class="mobile_vfy"></div>
                        <span class="input-group-btn" style="vertical-align: top;">
                               <button  id="btn_verify" type="button" class="btn btn-danger">发送验证码</button>
                            </span>
                    </div>
                    <div  class="input-group col-lg-12 col-md-12 col-sm-12">
                        <input name="verify" id="verify" type="text" class="form-control" placeholder="输入验证码">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnDailiShang" target-form="form-label-msg" type="submit" class="btn btn-danger col-lg-12 col-md-12 col-sm-12 ajax-post">确定</button>
                </div>
            </div>
            <input type="hidden" id="verifyTrue" value="{$verifyTrue}" />
        </div>
    </div>
</block>
<block name="script">
    <script>
        $('select[name="extendFlag"]').val($('#hid_extend').val());
        //编辑页
        $('#divOption2').hide();
        $('input,textarea,select').attr('readonly',true);
        $('#myModal input').removeAttr('readonly');
        $('#mobile,#verify').removeAttr('readonly');
        $('input[type="checkbox"]').attr('onclick','return false;');
        function verify_mobile(){
            $('.mobile_vfy .error').remove();
            if($('#mobile').val()==''){
                $('.mobile_vfy').append('<div class="error color-red">请输入手机号</div>');
                return false;
            }
            var myreg =/^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(14[0-9]{1})|(17[0-9]{1}))+\d{8})$/;
            if(!myreg.test($("#mobile").val()))
            {
                $('.mobile_vfy').append('<div class="error color-red">手机号码格式不正确</div>');
                return false;
            }
            return true;
        }
        $('#mobile').focus(function(){
            $('.mobile_vfy').children('error').remove();
        });
        $('#mobile').blur(function(){
            if(verify_mobile()){
                $('.mobile_vfy').children('error').remove();
            }
        });
        $("#btn_verify").click(function () {
            if(!verify_mobile()){
                return;
            }
            settime($(this));
            //发送短信验证码
            $.ajax({
                url: "{:U('Agent/sendVerify')}",
                data:{'mobile':$('#mobile').val()},
                type:"POST",
                success: function(res){
                }
            });
        });
        var countdown = 60;
        function settime(val) {
            if (countdown == 0) {
                val.removeAttr("disabled");
                val.text("获取验证码");
                countdown = 60;
                return false;
            } else {
                val.attr("disabled", true);
                val.text("剩余" + countdown + "秒");
                countdown--;
            }
            setTimeout(function () {
                settime(val)
            }, 1000)
        }
        $("#btnDailiShang").click(function () {
            if(!verify_mobile()){
                return;
            }
            if($('#verify').val()==''){
                return false;
            }
            $.ajax({
                url: "{:U('Agent/sendMessage')}",
                data:{'flag':1,'verify':$('#verify').val(),'agentId':$('input[name="agentId"]').val()},
                type:"POST",
                success: function(res){
                    if(res == 1){
                        $('textarea').removeAttr('readonly');
                        $('input[name="telephone"],input[name="address"]').removeAttr('readonly');
                        $("input[name='name[]']").eq(0).removeAttr('readonly');
                        $("input[name='mobile[]']").eq(0).removeAttr('readonly');
                        $("input[name='idNo[]']").eq(0).removeAttr('readonly');
                        $('#divOption1').hide();
                        $('#divOption2').show();
                        $('#myModal2').modal('hide');
                    }
                }
            });
        });
        if($('#verifyTrue').val() == $('input[name="agentId"]').val()){
            $('textarea').removeAttr('readonly');
            $('input[name="telephone"],input[name="address"]').removeAttr('readonly');
            $("input[name='name[]']").eq(0).removeAttr('readonly');
            $("input[name='mobile[]']").eq(0).removeAttr('readonly');
            $("input[name='idNo[]']").eq(0).removeAttr('readonly');
            $('#divOption1').hide();
            $('#divOption2').show();
            $('#myModal2').modal('hide');
        }

        //设备多选选中
        var device = $('#device').val();
        var device_arr = device.split(',');
        $.each(device_arr, function (i, item) {
            $('input[name="deviceType[]"]').each(function (j, devices) {
                if ($(this).val() == item) {
                    $(this).attr('checked', true);
                }
            })
        });

        //图片
        $(".dz-remove").click(function () {
            var pathStr = $("#imagePath").val();
            var imgId = $(this).attr("data-id");
            var imgPath = $(this).attr("data-path");
            pathStr = pathStr.replace(imgPath + ',', '');
            pathStr = pathStr.replace(imgPath, '');
            var firstChat = pathStr.substr(0, 1);
            var lastChat = pathStr.substr(pathStr.length - 1, pathStr.length);
            if (lastChat == ',') {
                pathStr = pathStr.substr(0, pathStr.length - 1);
            }
            $("#imagePath").val(pathStr);
            $.ajax({
                url: "{:U('file/delPic')}" + "?imageId=" + imgId,
                type: 'GET',
                success: function (data) {
                }
            })
            $(this).parent().remove();
        });
        $(function () {
            Page.hid_p = $('#hid_p').val();
            Page.hid_c = $('#hid_c').val();
            Page.hid_co = $('#hid_co').val();
            Page.init();
        });
        var d = $('input[name="degree"]').val();
        hide_area(d);
    </script>
</block>