<extend name="Public/base"/>
<block name="style">
    <style>
        .unbindclick {
            pointer-events: none;
        }
        .dz-details{
            display:none;
        }
    </style>
</block>
<block name="body">
    <div class="container body">
        <div class="right_col" role="main">
            <form action="{:U('Agent/AddOrg')}" method="post" class="form-horizontal form-label-left">
                <div class="col-md-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>机构信息</h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content row">
                            <br/>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">机构名称:</label>

                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" name="orgName" value="{$orgInfo.orgName}"
                                               class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">机构性质:</label>

                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select name="insType" class="form-control unbindclick">
                                            <option value="-1">请选择</option>
                                            <option value="0">医院</option>
                                            <option value="1">生活小区</option>
                                            <option value="2">养老院</option>
                                            <option value="3">家庭/个人</option>
                                            <option value="4">注册公司</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">联系电话:</label>

                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" name="telephone" value="{$orgInfo.telephone}"
                                               class="form-control" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">机构登录ID:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input id="logId" type="text" class="form-control" value="{$uinfo.userName}"
                                               disabled="disabled" placeholder="">
                                    </div>
                                </div>
                                <!--<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">-->
                                <!--<label class="control-label col-md-4 col-sm-4 col-xs-12">所属上级:</label>-->

                                <!--<div class="col-md-8 col-sm-8 col-xs-12">-->
                                <!--<div id="" class="">-->
                                <!--<input type="text" class="form-control" placeholder="">-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">所属区域:</label>

                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div id="distpicker2" class="">
                                            <input type="text" value="{$info.district}" name="district"
                                                   class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">公司组织机构:</label>

                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" value="{$orgInfo.orgCode}"
                                               name="orgCode" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">公司地址:</label>

                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <div class="">
                                            <input type="text" value="{$orgInfo.address}" name="address"
                                                   class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                        备注:
                                    </label>

                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                    <textarea name="remark" class="form-control" rows="3"
                                              placeholder='备注在2000字以内'>{$orgInfo.remark}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--管理人员-->
                    <volist name="contactList" id="contact">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>
                                    <php>if($key==0)echo "管理人员基本信息";</php>
                                    <php>if($key==1)echo"负责人基本信息";</php>
                                </h2>
                                <ul class="nav navbar-right panel_toolbox">
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content row">
                                <br/>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">负责人姓名:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input name="name[]" value="{$contact.name}" type="text"
                                                   class="form-control"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">手机号码:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input name="mobile[]" value="{$contact.mobile}" type="text"
                                                   class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">身份证:</label>

                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <div class="">
                                                <input type="text" name="idNo[]" value="{$contact.idNo}"
                                                       class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="contactId[]" value="{$contact.contactId}">
                                </div>
                            </div>
                        </div>
                    </volist>
                    <!--证件上传-->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>证件上传</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div action="#" class="dropzone unbindclick">
                                        <volist name="imgList" id="img">
                                            <div class="dz-preview dz-processing dz-image-preview dz-success dz-complete">
                                                <div class="dz-image">
                                                    <img style="width: 120px;height: 120px;max-width: 100%;" data-dz-thumbnail="" alt="{$img.displayName}"
                                                         src="{$img.imagePath}">
                                                </div>
                                                <a class="dz-remove" data-path="{$img.imagePath}"
                                                   data-id="{$img.imageId}" href="javascript:undefined;"
                                                   data-dz-remove="">删除</a></div>
                                        </volist>
                                    </div>
                                    <input type="hidden" id="imagePath" value="{$imgPathStr}" name="imagePath">
                                    <input type="hidden" value="{$imgIdStr}" name="imgIdStr">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--具备条件-->
                    <div class="x_panel">
                        <div id="f4" class="form-group col-md-12 col-sm-12 col-xs-12">
                            <input id="device" type="hidden" value="{$orgDevice['deviceType']}"/>
                            <div class="x_title">
                                <h2>设备选择</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 border-bottom">
                                <br>
                                <volist name="device_type" id="d">
                                    <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                        <label>
                                            <input type="checkbox" value="{$key}" name="deviceType[]" class="flat"> {$d}
                                        </label>
                                    </div>
                                </volist>
                                <div class="checkbox col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;">
                                    <br>
                                    <label>设备数量</label>
                                    <label>
                                        <input type="text" name="quantity" ignore="1" class="flat form-control" placeholder="设备数量" value="{$orgDevice.quantity}">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="x_panel">
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <div class="x_title">
                                <h2>代理权限设置</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 border-bottom">
                                <br>
                                <input id="moduleStr" type="hidden" value="{$moduleStr}"/>
                                <!--<volist name="auth" id="auth">-->
                                    <!--<div class="checkbox col-md-2 col-sm-2 col-xs-12">-->
                                        <!--<label>-->
                                            <!--<input value="{$auth.module.id}" name="roleModuleIds[]" type="checkbox" class="flat">-->
                                            <!--{$auth['module']['moduleName']}-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</volist>-->
                                <volist name="moduleList" id="moduleList">
                                    <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                        <label>
                                            <input value="$moduleList['module']['id']" checked onclick="return false" type="checkbox" class="flat">
                                            {$moduleList['module']['moduleName']}
                                        </label>
                                    </div>
                                </volist>
                            </div>
                            <!--<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12  clear" style="margin-top: 30px;">-->
                            <!--<button id="btn_save" class="btn btn-lg btn-danger ajax-post" type="submit"-->
                            <!--target-form="form-label-left">保存-->
                            <!--</button>-->
                            <!--<button class="btn btn-lg btn-danger" onclick="javascript:history.back(-1);return false;">返回-->
                            <!--</button>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="x_panel">
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <div class="x_title">
                                <h2>具备条件</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 border-bottom">
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <br>
                                    <div class="checkbox col-md-1 col-sm-1 col-xs-12">
                                    </div>
                                    <input type="hidden" id="orgCondition" value="{$info['orgCondition']}"/>
                                    <volist name="org_condition" id="org">
                                        <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                            <label>
                                                <input type="checkbox" value="{$key}" name="orgCondition[]" class="flat"> {$org.name}
                                            </label>
                                        </div>
                                    </volist>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!--详情页面显示-->
                        <div id="divOption2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-bottom ">
                            <br>
                            <!--在账号启用状态显示账号停用按钮 在账号停用状态显示启用按钮-->
                            <button class="btn btn-lg btn-danger"
                                    onclick="javascript:history.back(-1);return false;">返回
                            </button>
                            <button class="btn btn-lg btn-danger" type="button" data-toggle="modal"
                                    data-target="#myModal2">编辑
                            </button>
                        </div>
                        <!--变更页面显示-->
                        <div id="divOption" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-bottom hide">
                            <!--<button type="button" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#myModal">账号托管-->
                            <!--</button>-->
                            <!--在账号启用状态显示账号停用按钮 在账号停用状态显示启用按钮-->
                            <button class="btn btn-lg btn-danger"
                                    onclick="javascript:history.back(-1);return false;">返回
                            </button>
                            <button class="btn btn-lg btn-danger ajax-post" type="submit"
                                    target-form="form-label-left">保存页面
                            </button>
                            <button type="button" class="btn btn-lg btn-danger" data-toggle="modal"
                                    data-target="#myModal">修改密码
                            </button>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="institutionId" value="{$info.institutionId}">
                <input type="hidden" name="orgId" value="{$info.orgId}">
            </form>
        </div>
        <!--弹框 代理商信息变更-->
        <div class="modal fade row" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" style="">
                <div class="modal-content" style="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel2">安全验证</h4>
                    </div>
                    <div class="modal-body" style="width: 95%;margin: 0 auto">
                        <h4 class="modal-title text-center" id="">为了保护公司信息安全，需要通过本公司负责人手机验证码</h4><br>
                        <div class="input-group col-lg-12 col-md-12 col-sm-12">
                            <input name="mobile" id="mobile" type="text" class="form-control">
                            <div style="height: 50px;" class="mobile_vfy"></div>
                            <span class="input-group-btn" style="vertical-align: top;">
                               <button id="btn_verify" type="button" class="btn btn-danger">发送验证码</button>
                            </span>
                        </div>
                        <div class="input-group col-lg-12 col-md-12 col-sm-12">
                            <input name="verify" id="verify" type="text" class="form-control" placeholder="输入验证码">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnDailiShang" target-form="form-label-msg" type="submit" class="btn btn-danger col-lg-12 col-md-12 col-sm-12 ajax-post">确定</button>
                    </div>
                </div>
                <input type="hidden" id="verifyTrue" value="{$verifyTrue}"/>
            </div>
        </div>
        <input type="hidden" name="insId" value="{$insId}"/>
        <!--弹框 end-->
        <!--弹框 修改密码-->
        <div class="modal fade row" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" style="width: 50%;">
                <form method="post" action="{:U('Public/changePassword')}">
                    <div class="modal-content" style="">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                        </div>
                        <div class="modal-body" style="height: 260px;">
                            <div class="x_content">
                                <div class="form-group col-lg-10 col-md-12 col-sm-12 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">原始密码:</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input id="oldpwd" type="hidden" value="{$uinfo.password}">
                                        <input type="password" name="oldpassword" class="form-control"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-10 col-md-12 col-sm-12 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">重置密码:</label>

                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="password" name="userpassword" ignore="1" datatype="n6-11"
                                               errormsg="密码范围是在6~11位之间的数字！" plugin="passwordStrength"
                                               class="form-control" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group col-lg-10 col-md-12 col-sm-12 col-xs-12">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">确认密码:</label>

                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="password" name="repassword" recheck="userpassword"
                                               errormsg="您两次输入的账号密码不一致！" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">确定</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--弹框 end-->
    </div>
    </div>
</block>

<block name="script">
    <script>
        $('input,textarea,select').attr('readonly',true);
        $('#myModal input').removeAttr('readonly');
        $('#mobile,#verify').removeAttr('readonly');
        $('input[type="checkbox"]').attr('onclick','return false;');
        //手机号验证
        function verify_mobile() {
            $('.mobile_vfy .error').remove();
            if ($('#mobile').val() == '') {
                $('.mobile_vfy').append('<div class="error color-red">请输入手机号</div>');
                return false;
            }
            var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(14[0-9]{1})|(17[0-9]{1}))+\d{8})$/;
            if (!myreg.test($("#mobile").val())) {
                $('.mobile_vfy').append('<div class="error color-red">手机号码格式不正确</div>');
                return false;
            }
            return true;
        }
        $('#mobile').focus(function () {
            $('.mobile_vfy').children('error').remove();
        });
        $('#mobile').blur(function () {
            if (verify_mobile()) {
                $('.mobile_vfy').children('error').remove();
            }
        });
        $("#btn_verify").click(function () {
            if (!verify_mobile()) {
                return;
            }
            settime($(this));
            //发送短信验证码
            $.ajax({
                url: "{:U('Agent/sendVerify')}",
                data: {'mobile': $('#mobile').val()},
                type: "POST",
                success: function (res) {
                }
            });
        });
        var countdown = 60;
        function settime(val) {
            if (countdown == 0) {
                val.removeAttr("disabled");
                val.text("获取验证码");
                countdown = 60;
                return false;
            } else {
                val.attr("disabled", true);
                val.text("剩余" + countdown + "秒");
                countdown--;
            }
            setTimeout(function () {
                settime(val)
            }, 1000)
        }
        $("#btnDailiShang").click(function () {
            if (!verify_mobile()) {
                return;
            }
            if ($('#verify').val() == '') {
                return false;
            }
            $.ajax({
                url: "{:U('Agent/sendMessage')}",
                data: {'flag': 2, 'verify': $('#verify').val(), 'insId': $('input[name="insId"]').val()},
                type: "POST",
                success: function (res) {
                    if (res == 1) {
                        $("#divOption").removeClass('hide');
                        $("#divOption2").hide();
                        $("input[name='address'],textarea").removeAttr('readonly');
                        $("input[name='name[]']").eq(0).removeAttr('readonly');
                        $("input[name='mobile[]']").eq(0).removeAttr('readonly');
                        $("input[name='idNo[]']").eq(0).removeAttr('readonly');
                        $('#logId').attr('disabled', true);
                        $('#f4 input').attr('disabled', true);
                        $('#myModal2').modal('hide');
                    }
                }
            });
        });
        if ($('#verifyTrue').val() == $('input[name="insId"]').val()) {
            $("#divOption").removeClass('hide');
            $("#divOption2").hide();
            $("input[name='address'],textarea").removeAttr('readonly');
            $("input[name='name[]']").eq(0).removeAttr('readonly');
            $("input[name='mobile[]']").eq(0).removeAttr('readonly');
            $("input[name='idNo[]']").eq(0).removeAttr('readonly');
            $('#logId').attr('disabled', true);
            $('#f4 input').attr('disabled', true);
            $('#myModal2').modal('hide');
        }
        //设备多选选中
        var device = $('#device').val();
        var device_arr = device.split(',');
        $.each(device_arr, function (i, item) {
            $('input[name="deviceType[]"]').each(function (j, devices) {
                if ($(this).val() == item) {
                    $(this).attr('checked', true);
                }
            })
        });
        //权限选中
//        var moduleStr = $('#moduleStr').val();
//        var module_arr = moduleStr.split(',');
//        $.each(module_arr, function (i, item) {
//            $('input[name="roleModuleIds[]"]').each(function (j, devices) {
//                if ($(this).val() == item) {
//                    $(this).attr('checked', true);
//                }
//            })
//        });
        var orgCondition = $('#orgCondition').val();
        var condition_arr = orgCondition.split(',');
        $.each(condition_arr, function (i, item) {
            $('input[name="orgCondition[]"]').each(function () {
                if ($(this).val() == item) {
                    $(this).attr('checked', true);
                }
            })
        });
        Think.setValue("insType", "{$info.insType}");
        $(".dz-remove").click(function () {
            var pathStr = $("#imagePath").val();
            var imgId = $(this).attr("data-id");
            var imgPath = $(this).attr("data-path");
            pathStr = pathStr.replace(imgPath + ',', '');
            pathStr = pathStr.replace(imgPath, '');
            var lastChat = pathStr.substr(pathStr.length - 1, pathStr.length);
            if (lastChat == ',') {
                pathStr = pathStr.substr(0, pathStr.length - 1);
            }
            $("#imagePath").val(pathStr);
            $.ajax({
                url: "{:U('file/delPic')}" + "?imageId=" + imgId,
                type: 'GET',
                success: function (data) {
                }
            })
            $(this).parent().remove();
        });
        $('#inst1 .flat').click(function () {
            $('#hid_type').val(1);
        });
        $('#inst2 .flat').click(function () {
            $('#hid_type').val(2);
        });
    </script>
</block>