<extend name="Public/base"/>
<block name="body">
    <div class="container body">
        <div class="main_container">
            <!--content pages-->
            <div class="right_col" role="main">
                <div class="col-md-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>基本资料</h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content row">
                            <br/>

                            <form class="form-horizontal form-label-left" method="post" action="{:U('write')}">
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">姓名:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" name="name" value="{$info.name|default=''}"
                                                   class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">性别:</label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input name="sex" type="hidden" value="{$res.sex}">
                                            <input type="text" value="<if condition="$res['sex'] eq 0">男<else/>女</if>"
                                            class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">电话:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" name="telephone" value="{$info.telephone|default=''}"
                                                   class="form-control" placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">坐席工号:</label>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" value="{$info.userName}" class="form-control"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <if condition="empty($info)">
                                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">密码:</label>

                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="password" name="password" ignore="1" datatype="n6-11"
                                                       errormsg="密码范围是在6~11位之间的数字！" plugin="passwordStrength"
                                                       class="form-control" placeholder="">
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">确认密码:</label>

                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="password" name="repassword" recheck="password"
                                                       errormsg="您两次输入的账号密码不一致！" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    </if>
                                    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                            备注:
                                        </label>

                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <textarea class="form-control" name="remark" rows="3"
                                                      placeholder='备注在2000字以内'>{$info.remark|default=''}</textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <img id="head_img" src="{$img.imagePath|default='__IMG__/user.png'}">
                                    <input type="hidden" ignore="1" name="imageId" value="{$img.imageId}">
                                    <input type="hidden" ignore="1" name="imagePath" value="{$img.imagePath}">

                                    <div>
                                        <br>
                                        <button class="btn btn-danger btn-sm col-lg-6 col-md-6 col-sm-6">
                                            点击替换
                                        </button>
                                        <input class="btn btn-danger btn-sm col-lg-6 col-md-6 col-sm-6" id="image"
                                               style="opacity:0; margin-top: -40px;position: relative;" type="file">
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_title">
                                        <br><br>
                                        <h2>权限设置</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 border-bottom">
                                        <br>
                                        <input id="moduleStr" type="hidden" value="{$moduleStr}" />
                                        <volist name="moduleList" id="moduleList">
                                            <div class="checkbox col-md-2 col-sm-2 col-xs-12">
                                                <label>
                                                    <input value="{$moduleList['module']['id']}" checked onclick="return false" name="roleModuleIds[]"
                                                           type="checkbox" class="flat">
                                                    {$moduleList['module']['moduleName']}
                                                </label>
                                            </div>
                                        </volist>
                                    </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-bottom">
                                        <br>
                                        <input type="hidden" name="flag" value="1"/>
                                        <input type="hidden" ignore="1" name="csId" value="{$info.csId|default=0}">
                                        <button type="submit" class="btn btn-lg btn-danger ajax-post"
                                                target-form="form-label-left">
                                            保存
                                        </button>
                                        <button class="btn btn-lg btn-danger"
                                                onclick="javascript:history.back(-1);return false;">关闭
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--弹框 修改密码-->
                <div class="modal fade row" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document" style="width: 50%;">
                        <form>
                            <div class="modal-content" style="">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                                </div>
                                <div class="modal-body" style="height: 260px;">
                                    <div class="x_content">
                                        <div class="form-group col-lg-10 col-md-12 col-sm-12 col-xs-12">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">原始密码:</label>

                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="password" name="oldpassword" class="form-control"
                                                       placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-10 col-md-12 col-sm-12 col-xs-12">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">重置密码:</label>

                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="password" name="userpassword" ignore="1" datatype="n6-11"
                                                       errormsg="密码范围是在6~11位之间的数字！" plugin="passwordStrength"
                                                       class="form-control" placeholder="">
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-10 col-md-12 col-sm-12 col-xs-12">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">确认密码:</label>

                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="password" name="repassword" recheck="userpassword"
                                                       errormsg="您两次输入的账号密码不一致！" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger">确定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--弹框 end-->
                <div id="distpicker1" class="hide">
                    <select></select>
                    <select></select>
                    <select></select>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script>
        $('input[type="checkbox"]').attr('disabled',true);
        $(function () {
            Think.setValue('sex', "{$info.sex}");
            $("#image").on('change', function () {
                var formData = new FormData();
                formData.append('file', $("#image")[0].files[0]);
                $.ajax({
                    url: "{:U('file/upload')}",
                    type: 'POST',
                    cache: false,
                    data: formData,
                    processData: false,
                    contentType: false
                }).done(function (res) {
                    $("input[name='imagePath']").val(res);
                    $("#head_img").attr('src', res);
                }).fail(function (res) {
                });
            });
        });
        $('input:not(input[id="image"],input[name="telephone"])').attr('readonly',true);
    </script>
</block>
