<extend name="Public/base"/>
<block name="body">
    <div class="container body">
        <div class="main_container">
            <!--content pages-->
            <div class="right_col" role="main">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="page-title">
                            <div class="title_left" style="width: 45%;">
                                <h3>坐席列表</h3>
                            </div>
                            <div class="title_right">
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="key" value="{$name}" ignore="1"
                                               placeholder="请输入姓名">
                                    <span class="input-group-btn">
                      <button class="clf btn btn-danger" id="search" url="{:U('user_list')}" style="color: #fff;">查询</button>
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x_title"></div>
                        <div class="row col-md-6 col-sm-6 col-xs-12">
                            <a class="btn btn-sm btn-danger" href="{:U('Usermanage/add_user')}">新建坐席</a>
                        </div>

                        <div class="x_content">
                            <div class=""></div>
                            <div class="table-responsive">
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                    <tr class="headings">
                                        <th>
                                        </th>
                                        <th class="column-title">姓名</th>
                                        <th class="column-title">ID工号</th>
                                        <th class="column-title">性别</th>
                                        <th class="column-title">电话</th>
                                        <th class="column-title">操作</th>
                                    </tr>
                                    </thead>
                                    <volist name="list" id="cs">
                                        <tr class="even pointer">
                                            <td class="a-center ">
                                            </td>
                                            <td class="">{$cs.name}</td>
                                            <td class=" ">{$cs.csId}</td>
                                            <td class=" ">{$cs.sex_text}</td>
                                            <td class=" ">{$cs.telephone}</td>
                                            <td class="last">
                                                <a class="color-red"
                                                   href="{:U('update_user',['csId'=>$cs['csId']])}">编辑</a>
                                                &nbsp;&nbsp;&nbsp;
                                                <a href="{:U('del?csId='.$cs['csId'])}"
                                                   class="color-red confirm ajax-get">删除</a></td>
                                        </tr>
                                    </volist>
                                </table>
                                {$_page}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script>
        $("#search").click(function () {
            var url = $(this).attr("url");
            var key = $("#key").val();
            location.href = url + "?name=" + key;
        });
    </script>
</block>
